{% import "SeklMainFoundationBundle::macros.html.twig" as main %}
{% import "SLMNWovieMainBundle::html/macros.html.twig" as wovie %}

{% if activities|length > 0 %}
    {% for activity in activities %}
        <div class="infinite-item">
            <div class="row activities-row infinite-item">
                <div class="small-12 columns">
                    <div class="panel activity-panel">
                        <p>
                            <a href="{{ path('slmn_wovie_public_profile', {'username': activity.user.username}) }}">
                                <img
                                        class="avatar-30"
                                        src="{{ getGravatarUrl(activity.user, 30) }}"
                                        >
                                {% if app.security.getToken().getUser().username != activity.user.username %}
                                    {{ activity.user.username }}
                                {% else %}
                                    you
                                {% endif %}
                            </a>
                            {# TODO: Skip objects if deleted (no result for getMediaById or getUserById) #}
                            {% if activity.key == 'media.added' %}
                                added
                                {% for media in activity.value %}
                                    {% set myMedia = getMediaById(media.mediaId) %}
                                    {%- if app.security.getToken().getUser().username != activity.user.username -%}
                                        <a href="{{ path('slmn_wovie_public_media_details', {'id': myMedia.id}) }}">
                                            {{- myMedia.title -}}
                                        </a>
                                    {%- else -%}
                                        <a href="{{ path('slmn_wovie_user_movie_details', {'id': myMedia.id}) }}">
                                            {{- myMedia.title -}}
                                        </a>
                                    {%- endif -%}
                                    {%- if not loop.last -%},{%- endif -%}
                                {% endfor %}
                                {% if app.security.getToken().getUser().username != activity.user.username %}
                                    to their library
                                {% else %}
                                    to your library
                                {% endif %}
                            {% elseif activity.key == 'view.added' %}
                                watched
                                {% set beforeWasSeries = false %}
                                {% for media in activity.value %}
                                    {% set myMedia = getMediaById(media.mediaId) %}
                                    {%- if app.security.getToken().getUser().username != activity.user.username -%}
                                        <a href="{{ path('slmn_wovie_public_media_details', {'id': myMedia.id}) }}">
                                            {{- myMedia.title -}}
                                        </a>
                                    {%- else -%}
                                        <a href="{{ path('slmn_wovie_user_movie_details', {'id': myMedia.id}) }}">
                                            {{- myMedia.title -}}
                                        </a>
                                    {%- endif -%}
                                    {% if media.seasons is defined %}
                                        {% set beforeWasSeries = true %}
                                        {% for season,episodes in media.seasons %}
                                            {% set hyphenPrinted = false %}
                                            season {{ season }}:
                                            {% for episodeId,episodeInSeason in episodes|sort %}
                                                {% if episodes[episodeId+1] is defined and episodes[episodeId+1] == episodeInSeason+1 %}
                                                    {% if hyphenPrinted == false %}
                                                        {{ episodes[episodeId] }} -
                                                        {% set hyphenPrinted = true %}
                                                    {% endif %}
                                                {% else %}
                                                    {{ episodeInSeason }}
                                                    {% set hyphenPrinted = false %}
                                                    {%- if not loop.last -%},{%- endif -%}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% else %}
                                        {%- set beforeWasSeries = false -%}
                                    {% endif %}
                                    {%- if not loop.last and beforeWasSeries == false -%},{%- endif -%}
                                {% endfor %}
                            {% elseif activity.key == 'follow.added' %}
                                {% if app.security.getToken().getUser().username != activity.user.username %}
                                    is
                                {% else %}
                                    are
                                {% endif %}
                                now following
                                {% for user in activity.value %}
                                    {% set myUser = getUserById(user.userId) %}
                                    <a href="{{ path('slmn_wovie_public_profile', {'username': myUser.username}) }}">
                                        <img
                                                class="avatar-30"
                                                src="{{ getGravatarUrl(myUser, 30) }}"
                                                >
                                        {% if app.security.getToken().getUser().username != myUser.username -%}
                                            {{ myUser.username }}
                                        {% else -%}
                                            you
                                        {%- endif -%}
                                    </a>
                                    {%- if not loop.last -%},{%- endif -%}
                                {% endfor %}
                            {% else %}
                                #{{ activity.id }} {{ activity.key }}
                            {% endif %}
                            <span class="activity-date">
                                {{ activity.time|date('Y-m-d H:i') }}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="infinite-more-link">
        <a
                class="hide infinite-more-link"
                href="{{ path('slmn_wovie_actions_ajax_infinite_activity', {'page': page+1}) }}"></a>
    </div>
{% else %}
    <div class="infinite-item">
        <div class="row infinite-item" style="margin-top: 10px;">
            <div class="small-12 columns">
                {{ main.alertBox('No more activities, try to follow some friends.', '', 0) }}
            </div>
        </div>
    </div>
{% endif %}
{# TODO: User profile card on hover #}
{# TODO: Add relative time (x minutes agoâ) #}
{# TODO: Usersearch #}