{% extends "SeklMainFoundationBundle::main.html.twig" %}
{% import "SLMNWovieMainBundle::html/macros.html.twig" as wovie %}

{% block header %}
    {# TODO: <link rel="icon" href="favicon.ico" type="image/x-icon"> #}
    {% stylesheets filter="?uglifycss"
    "@SLMNWovieMainBundle/Resources/assets/main.sass"
    "@SLMNWovieMainBundle/Resources/assets/lib/animate.css"
    output='css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% javascripts
    '../vendor/sekl/main/foundationbundle/src/Sekl/Main/FoundationBundle/Resources/assets/modernizr.js'
    '../vendor/sekl/main/foundationbundle/src/Sekl/Main/FoundationBundle/Resources/assets/jquery-2.1.1.js'
    '../vendor/sekl/main/foundationbundle/src/Sekl/Main/FoundationBundle/Resources/assets/fastclick.js'
    '../vendor/zurb/foundation/js/foundation/foundation.js'
    '../vendor/zurb/foundation/js/foundation/foundation.abide.js'
    '../vendor/zurb/foundation/js/foundation/foundation.accordion.js'
    '../vendor/zurb/foundation/js/foundation/foundation.alert.js'
    '../vendor/zurb/foundation/js/foundation/foundation.clearing.js'
    '../vendor/zurb/foundation/js/foundation/foundation.dropdown.js'
    '../vendor/zurb/foundation/js/foundation/foundation.equalizer.js'
    '../vendor/zurb/foundation/js/foundation/foundation.interchange.js'
    '../vendor/zurb/foundation/js/foundation/foundation.joyride.js'
    '../vendor/zurb/foundation/js/foundation/foundation.magellan.js'
    '../vendor/zurb/foundation/js/foundation/foundation.offcanvas.js'
    '../vendor/zurb/foundation/js/foundation/foundation.orbit.js'
    '../vendor/zurb/foundation/js/foundation/foundation.reveal.js'
    '../vendor/zurb/foundation/js/foundation/foundation.tab.js'
    '../vendor/zurb/foundation/js/foundation/foundation.tooltip.js'
    '../vendor/zurb/foundation/js/foundation/foundation.topbar.js'
    'bundles/fosjsrouting/js/router.js'
    'js/fos_js_routes.js'
    '@SLMNWovieMainBundle/Resources/assets/add.js'
    output='js/frame-header.js' filter='?uglifyjs2'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock header %}

{% block templatebody %}
    <div id="root">
        {% block body %}{% endblock body %}
        <div id="root_footer"></div>
    </div>
    <footer id="footer">
    </footer>
{% endblock templatebody %}

{% block endbody %}
    {% if app.environment != 'prod'  %}
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% endif %}

    {% if piwikUrl != null and piwikSiteId != null %}
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u=(("https:" == document.location.protocol) ? "https" : "http") + "://{{ piwikUrl }}/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', {{ piwikSiteId }}]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
                g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
    {% endif %}
{% endblock endbody %}