{% extends "SeklMainFoundationBundle::main.html.twig" %}
{% import "SLMNWovieMainBundle::html/macros.html.twig" as wovie %}

{% block header %}
    {% block favicon %}<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">{% endblock %}
    {% stylesheets filter="?uglifycss"
    "@SLMNWovieMainBundle/Resources/assets/main.sass"
    "@SLMNWovieMainBundle/Resources/assets/lib/animate.css"
    output='css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% javascripts
    '../vendor/sekl/main/foundationbundle/src/Sekl/Main/FoundationBundle/Resources/assets/modernizr.js'
    output='js/header.js' filter='?uglifyjs2'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock header %}

{% block templatebody %}
    {% include 'SLMNWovieMainBundle::html/modals.html.twig' %}
    <div id="root">
        <nav class="top-bar flat-nav" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a href="{{ path('slmn_wovie_user_dashboard') }}">
                            WOVIE <span
                                    data-tooltip
                                    class="has-tip"
                                    title="Alpha. Based on commit {{ wovieRevision() }}."
                                    style="color: white;"
                                    >
                                α
                            </span>
                        </a>
                    </h1>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="toggle-topbar menu-icon">
                        <a href=""><span>Menu</span></a>
                    </li>
                {% endif %}
            </ul>

            <section class="top-bar-section">
                <ul class="left">
                    {% if is_granted('ROLE_USER') %}
                        <li class="has-form">
                            <form type="get" action="{{ path('slmn_wovie_user_search') }}">
                                <div class="row collapse">
                                    <div class="small-10 columns">
                                        <input
                                                class="top-bar-search"
                                                name="q"
                                                type="text"
                                                placeholder="search…"
                                                required=""
                                                id="search"
                                                {% if query is defined %}value="{{ query }}"{% endif %}
                                                >
                                    </div>
                                    <div class="small-2 columns">
                                        <button type="submit" class="button secondary postfix topbar-postfix">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                             </div>
                            </form>
                        </li>
                        <li{% if app.request.get('_route') == 'slmn_wovie_user_movie_add' %} class="active"{% endif %}>
                            <a href="{{ path('slmn_wovie_user_movie_add') }}">
                                <i class="fa fa-plus"></i> Add
                            </a>
                        </li>
                        <li{% if app.request.get('_route') == 'slmn_wovie_user_movie_shelf' %} class="active"{% endif %}>
                            <a id="shelf" href="{{ path('slmn_wovie_user_movie_shelf') }}">
                                <i class="fa fa-list"></i> Library
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-clock-o"></i> Activity
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="right">
                    {% if is_granted('ROLE_USER') %}
                        <li class="has-form">
                            <a href="{{ path('slmn_wovie_user_feedback') }}" class="button secondary">Alpha feedback</a>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">
                                <img class="top-bar-avatar" src="{{ getGravatarUrl(app.security.getToken().getUser(), 30) }}"> {{ app.security.getToken().getUser().username }}
                            </a>
                            <ul class="dropdown">
                                <li>
                                    <a href="{{ path('slmn_wovie_user_settings_general') }}">
                                        <i class="fa fa-gear"></i> Settings
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('slmn_wovie_user_settings_profile') }}">
                                        <i class="fa fa-user"></i> Account
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('slmn_wovie_user_settings_billing') }}">
                                        <i class="fa fa-money"></i> Billing
                                    </a>
                                </li>
                                <li><a href="{{ path('logout') }}"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </section>
        </nav>

        <div role="content">
            <div class="row">
                <div class="large-12 columns">
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div data-alert class="alert-box success radius" style="margin-bottom: 0; margin-top: 10px;">
                            {{ flashMessage }}
                            <a href="#" class="close">&times;</a>
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div data-alert class="alert-box warning radius" style="margin-bottom: 0; margin-top: 10px;">
                            {{ flashMessage }}
                            <a href="#" class="close">&times;</a>
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('info') %}
                        <div data-alert class="alert-box radius" style="margin-bottom: 0; margin-top: 10px;">
                            {{ flashMessage }}
                            <a href="#" class="close">&times;</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% block body %}{% endblock body %}
            <div id="root_footer"></div>
        </div>
    </div>
    <footer id="footer">
        <div class="footer">
            <div class="row">
                <div class="large-12 columns">
                    <span>
                        <a class="logo" href="//wovieapp.com" target="_blank">WOVIE</a>
                        <span class="logo-nolink">by</span>
                        <a class="logo" href="//slmn.de" target="_blank">SLMN</a>
                    </span>
                    <ul class="inline-list footer-first-list">
                        <li><a href="#{# TODO: BLOG #}">BLOG</a></li>
                        <li><a href="#{# TODO: CONTACT #}">CONTACT</a></li>
                        <li><a href="#{# TODO: IMPRINT #}">IMPRINT</a></li>
                    </ul>
                    <p class="copyright">© {{ copyrightYear(2014) }} Sebastian Winkler</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock templatebody %}

{% block endbody %}
    {% javascripts
    '../vendor/sekl/main/foundationbundle/src/Sekl/Main/FoundationBundle/Resources/assets/jquery-2.1.1.js'
    '../vendor/sekl/main/foundationbundle/src/Sekl/Main/FoundationBundle/Resources/assets/fastclick.js'
    '../vendor/zurb/foundation/js/foundation/foundation.js'
    '../vendor/zurb/foundation/js/foundation/foundation.abide.js'
    '../vendor/zurb/foundation/js/foundation/foundation.accordion.js'
    '../vendor/zurb/foundation/js/foundation/foundation.alert.js'
    '../vendor/zurb/foundation/js/foundation/foundation.clearing.js'
    '../vendor/zurb/foundation/js/foundation/foundation.dropdown.js'
    '../vendor/zurb/foundation/js/foundation/foundation.equalizer.js'
    '../vendor/zurb/foundation/js/foundation/foundation.interchange.js'
    '../vendor/zurb/foundation/js/foundation/foundation.joyride.js'
    '../vendor/zurb/foundation/js/foundation/foundation.magellan.js'
    '../vendor/zurb/foundation/js/foundation/foundation.offcanvas.js'
    '../vendor/zurb/foundation/js/foundation/foundation.orbit.js'
    '../vendor/zurb/foundation/js/foundation/foundation.reveal.js'
    '../vendor/zurb/foundation/js/foundation/foundation.tab.js'
    '../vendor/zurb/foundation/js/foundation/foundation.tooltip.js'
    '../vendor/zurb/foundation/js/foundation/foundation.topbar.js'
    '@SLMNWovieMainBundle/Resources/assets/lib/zeroClipboard/ZeroClipboard.js'
    '@SLMNWovieMainBundle/Resources/assets/lib/jquery.lazyload.js'
    '@SLMNWovieMainBundle/Resources/assets/lib/jquery.creditCardValidator.js'
    'bundles/fosjsrouting/js/router.js'
    'js/fos_js_routes.js'
    '@SLMNWovieMainBundle/Resources/assets/add.js'
    output='js/main.js' filter='?uglifyjs2'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if app.environment != 'prod'  %}
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% endif %}

    {% if piwikUrl != null and piwikSiteId != null %}
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u=(("https:" == document.location.protocol) ? "https" : "http") + "://{{ piwikUrl }}/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', {{ piwikSiteId }}]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
                g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
    {% endif %}
    {% block customJavascript %}{% endblock customJavascript %}
{% endblock endbody %}