{% extends "SeklMainFoundationBundle::main.html.twig" %}
{% import "SLMNWovieMainBundle::html/macros.html.twig" as wovie %}

{% block header %}
    {% block favicon %}<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">{% endblock %}
    {% stylesheets filter="?uglifycss"
    "@SLMNWovieMainBundle/Resources/assets/main.sass"
    "@SLMNWovieMainBundle/Resources/assets/lib/animate.css"
    "@SLMNWovieMainBundle/Resources/assets/lib/device-mockups/device-mockups.css"
    output='css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {% javascripts
    '../vendor/sekl/main/foundationbundle/src/Sekl/Main/FoundationBundle/Resources/assets/modernizr.js'
    output='js/header.js' filter='?uglifyjs2'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock header %}

{% block templatebody %}
    {% include 'SLMNWovieMainBundle::html/modals.html.twig' %}
    <div id="root">
        <div role="content">
            <div class="row">
                <div class="large-12 columns">
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div data-alert class="alert-box success radius" style="margin-bottom: 0; margin-top: 10px;">
                            {{ flashMessage }}
                            <a href="#" class="close">&times;</a>
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div data-alert class="alert-box warning radius" style="margin-bottom: 0; margin-top: 10px;">
                            {{ flashMessage }}
                            <a href="#" class="close">&times;</a>
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('info') %}
                        <div data-alert class="alert-box radius" style="margin-bottom: 0; margin-top: 10px;">
                            {{ flashMessage }}
                            <a href="#" class="close">&times;</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% block body %}{% endblock body %}
            <div id="root_footer"></div>
        </div>
    </div>
    {{ wovie.footer() }}
{% endblock templatebody %}

{% block endbody %}
    {% javascripts
    '../vendor/sekl/main/foundationbundle/src/Sekl/Main/FoundationBundle/Resources/assets/jquery-2.1.1.js'
    '../vendor/sekl/main/foundationbundle/src/Sekl/Main/FoundationBundle/Resources/assets/fastclick.js'
    '../vendor/zurb/foundation/js/foundation/foundation.js'
    '../vendor/zurb/foundation/js/foundation/foundation.abide.js'
    '../vendor/zurb/foundation/js/foundation/foundation.accordion.js'
    '../vendor/zurb/foundation/js/foundation/foundation.alert.js'
    '../vendor/zurb/foundation/js/foundation/foundation.clearing.js'
    '../vendor/zurb/foundation/js/foundation/foundation.dropdown.js'
    '../vendor/zurb/foundation/js/foundation/foundation.equalizer.js'
    '../vendor/zurb/foundation/js/foundation/foundation.interchange.js'
    '../vendor/zurb/foundation/js/foundation/foundation.joyride.js'
    '../vendor/zurb/foundation/js/foundation/foundation.magellan.js'
    '../vendor/zurb/foundation/js/foundation/foundation.offcanvas.js'
    '../vendor/zurb/foundation/js/foundation/foundation.orbit.js'
    '../vendor/zurb/foundation/js/foundation/foundation.reveal.js'
    '../vendor/zurb/foundation/js/foundation/foundation.tab.js'
    '../vendor/zurb/foundation/js/foundation/foundation.tooltip.js'
    '../vendor/zurb/foundation/js/foundation/foundation.topbar.js'
    '@SLMNWovieMainBundle/Resources/assets/lib/zeroClipboard/ZeroClipboard.js'
    '@SLMNWovieMainBundle/Resources/assets/lib/jquery.creditCardValidator.js'
    '@SLMNWovieMainBundle/Resources/assets/lib/waypoints.js'
    '@SLMNWovieMainBundle/Resources/assets/lib/waypoints-infinite.js'
    '@SLMNWovieMainBundle/Resources/assets/lib/dropzone.js'
    '@SLMNWovieMainBundle/Resources/assets/lib/mousetrap.js'
    'bundles/fosjsrouting/js/router.js'
    'js/fos_js_routes.js'
    '@SLMNWovieMainBundle/Resources/assets/add.js'
    '@SLMNWovieMainBundle/Resources/assets/keyboard.js'
    output='js/main.js' filter='?uglifyjs2'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if app.environment != 'prod'  %}
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% endif %}

    {% if piwikUrl != null and piwikSiteId != null %}
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u=(("https:" == document.location.protocol) ? "https" : "http") + "://{{ piwikUrl }}/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', {{ piwikSiteId }}]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
                g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
    {% endif %}
    <script type="text/javascript">
        loggedIn = {% if app.user is not null and is_granted('ROLE_USER') %}true{% else %}false{% endif %};
    </script>
    {% block customJavascript %}{% endblock customJavascript %}
    {% include "SLMNWovieMainBundle::html/customJs.html.twig" %}
{% endblock endbody %}
