{% macro resetFreebaseButton(value, for) %}
    <a
            for="{{ for }}"
            data-value="{{ value }}"
            {% if value != '' %}title="Revert data to {{ '"'|escape }}{{ value }}{{ '"'|escape }}"{% endif %}
            class="button postfix{% if value != '' %} reset-freebase-data has-tip{% else %} disabled{% endif %}"
            {% if value != '' %}data-tooltip{% endif %}
            >
        <i class="fa fa-reply fa-fw"></i>
    </a>
{% endmacro %}

{% macro mediaItem(movie) %}
    <div class="clearfix shelf-media-titles" id="media-{{ movie.id }}">
        <h6 class="left">{{ movie.title }}</h6>
    </div>
    <div style="position: relative;">
        <a href="{{ path('slmn_wovie_user_movie_details', {'id': movie.id}) }}">
            {% image '@SLMNWovieMainBundle/Resources/assets/placeholder.jpg'
            filter='?jpegoptim' output='images/placeholder.jpg' %}
            {% set placeholderImg = asset_url %}
            {% endimage %}
            <img class="cover lazy" data-original="{{ movie.posterImage|default(placeholderImg) }}">
            <noscript>
                <img class="cover" src="{{ movie.posterImage|default(placeholderImg) }}">
            </noscript>
        </a>
        {% set views = viewsOfId(movie.id) %}
        {% if movie.mediaType == 2 %}
            <div class="cover-progress small-12">
                <span class="meter"
                      style="width: {% if views > 0 %}{{ views / (movie.numberOfEpisodes / 100) }}{% else %}0{% endif %}%">
                        <p><b>
                            {% if views >= movie.numberOfEpisodes %}
                                <i class="fa fa-check-square"></i>
                            {% endif %}
                            {{ views }}/{{ movie.numberOfEpisodes }}
                        </b></p>
                </span>
            </div>
        {% else %}
            {% if views > 0 %}
                <div class="cover-progress small-12">
                                        <span class="meter" style="width: 100%">
                                            <p>
                                                <b>
                                                    <i class="fa fa-check-square"></i>
                                                    {% if views > 1 %} {{ views }}{% endif %}
                                                </b>
                                            </p>
                                        </span>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="row collapse">
        <div class="{% if views > 0 and movie.mediaType == 1 %}small-6{% else %}small-8{% endif %} columns">
            {% if movie.mediaType == 1 %}
                <button id="watched-it-button" class="button expand tiny watched_it_cover" data-media-id="{{ movie.id }}">I watched it!
                </button>
            {% else %}
                <button
                        id="watched-it-button"
                        class="button expand tiny"
                        data-reveal-id="modal-frame-choose-episode"
                        onclick="$('#modal-frame-choose-episode > iframe').attr('src', '{{ path('slmn_wovie_action_frames_choose_episode', {'id': movie.id}) }}')"
                        >
                    I watched an episode!
                </button>
            {% endif %}
        </div>
        {% if views > 0 and movie.mediaType == 1 %}
            <div class="small-2 columns">
                <button class="button expand tiny alert watched_it_not" data-media-id="{{ movie.id }}">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        {% endif %}
        <div class="small-2 columns">
            <a
                    id="edit-button"
                    href="{{ path('slmn_wovie_user_movie_edit', {'id': movie.id}) }}"
                    class="button expand tiny">
                <i class="fa fa-edit fa-lg"></i>
            </a>
        </div>
        <div class="small-2 columns">
            <a id="details-button" href="{{ path('slmn_wovie_user_movie_details', {'id': movie.id}) }}" class="button expand tiny">
                <i class="fa fa-info fa-lg"></i>
            </a>
        </div>
    </div>
{% endmacro %}

{% macro mediaItemPublic(movie) %}
    <div class="clearfix shelf-media-titles">
        <h6 class="left">{{ movie.title }}</h6>
    </div>
    <div style="position: relative;">
        <a href="{{ path('slmn_wovie_public_media_details', {'id': movie.id}) }}">
            {% image '@SLMNWovieMainBundle/Resources/assets/placeholder.jpg'
            filter='?jpegoptim' output='images/placeholder.jpg' %}
            {% set placeholderImg = asset_url %}
            {% endimage %}
            <img class="cover lazy" data-original="{{ movie.posterImage|default(placeholderImg) }}">
            <noscript>
                <img class="cover" src="{{ movie.posterImage|default(placeholderImg) }}">
            </noscript>
        </a>
        {% set views = viewsOfId(movie.id) %}
        {% if movie.mediaType == 2 %}
            <div class="cover-progress small-12">
                                        <span class="meter"
                                              style="width: {% if views > 0 %}{{ views / (movie.numberOfEpisodes / 100) }}{% else %}0{% endif %}%">
                                            <p>
                                                <b>
                                                    {% if views >= movie.numberOfEpisodes %}
                                                        <i class="fa fa-check-square"></i>
                                                    {% endif %}
                                                    {{ views }}/{{ movie.numberOfEpisodes }}
                                                </b>
                                            </p>
                                        </span>
            </div>
        {% else %}
            {% if views > 0 %}
                <div class="cover-progress small-12">
                                        <span class="meter" style="width: 100%">
                                            <p>
                                                <b>
                                                    <i class="fa fa-check-square"></i>
                                                    {% if views > 1 %} {{ views }}{% endif %}
                                                </b>
                                            </p>
                                        </span>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <a href="{{ path('slmn_wovie_user_movie_add', { 'prefill': movie.id }) }}" class="button expand tiny"><i class="fa fa-plus fa-lg"></i> Add to my library</a>
        </div>
    </div>
{% endmacro %}

{% macro itemForList(item) %}
    <ul class="inline-list" style="margin-bottom: 0;"> {# TODO: Move to grid #}
        <li style="width: 8%;">
            <a href="{{ path('slmn_wovie_user_movie_details', { 'id': item.id }) }}">
                {% image '@SLMNWovieMainBundle/Resources/assets/placeholder.jpg'
                filter='?jpegoptim' output='images/placeholder.jpg' %}
                    {% set placeholderImg = asset_url %}
                {% endimage %}
                <img class="small-cover lazy" data-original="{{ item.posterImage|default(placeholderImg) }}">
                <noscript>
                    <img class="small-cover" src="{{ movie.posterImage|default(placeholderImg) }}">
                </noscript>
                <div class="image-label">
                    <i class="fa fa-info-circle"></i> Details
                </div>
            </a>
        </li>
        <li style="width: 87%;">
            <div class="row">
                <ul class="result-inline-list">
                    <li>
                        <h5>{{ item.title }}
                            {% if item.writtenBy != null %}
                                <small>written by {{ item.writtenBy }}
                                </small>
                            {% endif %}
                        </h5>
                    </li>
                </ul>
            </div>
            <div class="row">
                <ul class="result-inline-list" style="margin-bottom: 0px;">
                    <li class="big-label-inlist">
                        {% if item.mediaType == 1 %}
                            <span class="label secondary">movie</span>
                        {% else %}
                            <span class="label secondary">series</span>
                        {% endif %}
                    </li>

                    {% if item.countries != null %}
                        <li class="big-label-inlist">
                                <span class="label secondary">
                                    {{ item.countries }}
                                </span>
                        </li>
                    {% endif %}
                    {% if item.releaseYear != null %}
                        <li class="big-label-inlist">
                                <span class="label secondary">
                                    {{  item.releaseYear }}
                                    {% if item.finalYear != null %}
                                        - {{ item.finalYear }}
                                    {% endif %}
                                </span>
                        </li>
                    {% endif %}
                    {% if item.runtime != null %}
                        <li class="big-label-inlist">
                                <span class="label secondary">
                                    <i class="fa fa-clock-o"></i> {{ item.runtime }} min
                                </span>
                        </li>
                    {% endif %}
                    {% if item.imdbId != null %}
                        <li class="big-label-inlist">
                                <span class="label secondary">
                                    <a href="http://www.imdb.com/title/{{ item.imdbId }}" target="_blank">
                                        <i class="fa fa-external-link"></i> imdb
                                    </a>
                                </span>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="row">
                <p class="result-plot">
                    {% if item.description|length > 300 %}
                        {{ item.description|slice(0, 300) }} …
                    {% else %}
                        {{ item.description }}
                    {% endif %}
                </p>
            </div>
            {% if item.genres != null %}
                <div class="row">
                    <ul class="result-inline-list">
                        {% for genre in item.genres|split(',') %}
                            <li class="big-label-inlist">
                                        <span class="label secondary">
                                            <a href="{{ path('slmn_wovie_user_search', { 'q':'genre:' ~ genre|trim }) }}">
                                                <i class="fa fa-tag"></i> {{ genre|trim }}
                                            </a>
                                        </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </li>
    </ul>
{% endmacro %}

{% macro mediaDetails(media, public) %}
    {% set views = viewsOfId(media.id) %}
    <div class="row">
        <div class="small-12 push-1 columns small-only-text-center">
            <h3>{{ media.title }}{% if media.writtenBy %} <small>written by {{ media.writtenBy|linkList2search('writer') }}</small>{% endif %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-4 push-1 columns" style="position: relative;">
            {% image '@SLMNWovieMainBundle/Resources/assets/placeholder.jpg'
            filter='?jpegoptim' output='images/placeholder.jpg' %}
            {% set placeholderImg = asset_url %}
            {% endimage %}
            <div class="row">
                <div class="small-12 columns">
                    <div class="cover-progress-big">
                        {% if media.mediaType == 2 %}
                            <span class="meter"
                                  style="width: {% if views > 0 %}{{ views / (media.numberOfEpisodes / 100) }}{% else %}0{% endif %}%">
                          <p><b>
                                  {% if views >= media.numberOfEpisodes %}
                                      <i class="fa fa-check-square"></i>
                                  {% endif %}
                                  {{ views }}/{{ media.numberOfEpisodes }}
                              </b></p>
                    </span>
                        {% else %}
                            {% if views > 0 %}
                                <span class="meter" style="width: 100%">
                            <p><b>
                                    <i class="fa fa-check-square"></i>
                                    {% if views > 1 %} {{ views }}{% endif %}
                                </b></p>
                        </span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <img class="cover-big lazy" data-original="{{ media.posterImage|default(placeholderImg) }}">
                    <noscript>
                        <img class="cover-big" src="{{ media.posterImage|default(placeholderImg) }}">
                    </noscript>
                </div>
            </div>
            {% if public == false %}
                <div class="row collapse">
                    <div class="{% if views > 0 and media.mediaType == 1 %}small-8{% else %}small-10{% endif %} columns">
                        {% if media.mediaType == 1 %}
                            <button id="watched-it-button" class="button expand tiny watched_it_cover" data-media-id="{{ media.id }}">I watched it!
                            </button>
                        {% else %}
                            <button
                                    id="watched-it-button"
                                    class="button expand tiny"
                                    data-reveal-id="modal-frame-choose-episode"
                                    onclick="$('#modal-frame-choose-episode > iframe').attr('src', '{{ path('slmn_wovie_action_frames_choose_episode', {'id': media.id}) }}')"
                                    >
                                I watched an episode!
                            </button>
                        {% endif %}
                    </div>
                    {% if views > 0 and media.mediaType == 1 %}
                        <div class="small-2 columns">
                            <button class="button expand tiny alert watched_it_not" data-media-id="{{ media.id }}">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    {% endif %}
                    <div class="small-2 columns">
                        <a
                                id="edit-button"
                                href="{{ path('slmn_wovie_user_movie_edit', {'id': media.id}) }}"
                                class="button expand tiny">
                            <i class="fa fa-edit fa-lg"></i>
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="row collapse">
                    <div class="small-12 columns">
                        <a
                                href="{{ path('slmn_wovie_user_movie_add', { 'prefill': media.id }) }}"
                                class="button expand tiny"
                                >
                            <i class="fa fa-plus fa-lg"></i> Add to my library
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="small-12 large-6 pull-1 columns">
            <div class="row">
                <div class="small-12 columns details-inline-list">
                    {# TODO: IMDB Rating #}
                    {% if media.mediaType == 1 %}
                        <li class="big-label-inlist">
                            <span class="label secondary">movie</span>
                        </li>
                    {% elseif media.mediaType == 2 %}
                        <li class="big-label-inlist">
                            <span class="label secondary">series</span>
                        </li>
                    {% endif %}
                    {% if media.countries %}
                        <li class="big-label-inlist">
                            <span class="label secondary">{{ media.countries }}</span>
                        </li>
                    {% endif %}
                    {% if media.releaseYear %}
                        <li class="big-label-inlist">
                            <span class="label secondary">
                                {{ media.releaseYear }}
                                {% if media.finalYear %}
                                    - {{ media.finalYear }}
                                {% endif %}
                            </span>
                        </li>
                    {% endif %}
                    {% if media.runtime %}
                        <li class="big-label-inlist">
                            <span class="label secondary">
                                <i class="fa fa-clock-o"></i> {{ media.runtime }} min
                            </span>
                        </li>
                    {% endif %}
                    {% if media.imdbId %}
                        <li class="big-label-inlist">
                            <span class="label secondary">
                                <a href="http://www.imdb.com/title/{{ media.imdbId }}" target="_blank">
                                    <i class="fa fa-external-link"></i> imdb
                                </a>
                            </span>
                        </li>
                    {% endif %}
                </div>
            </div>
            {% if media.description %}
                <div class="row">
                    <div class="small-12 columns">
                        <p class="meta-header-small">Description</p>
                        <p class="description">
                            {{ media.description }}
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if media.genres %}
                <div class="row">
                    <div class="small-12 columns details-inline-list">
                        {% for genre in media.genres|split(',') %}
                            <li class="big-label-inlist">
                        <span class="label secondary">
                            <a href="{{ path('slmn_wovie_user_search', { 'q':'genre:' ~ genre|trim }) }}">
                                <i class="fa fa-tag"></i> {{ genre|trim }}
                            </a>
                        </span>
                            </li>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {# TODO: Add widget, more statistics, etc #}
{% endmacro %}

{% macro activityBox(activity) %}
    <div class="row activities-row infinite-item">
        <div class="small-12 columns">
            <div class="panel activity-panel">
                {# TODO: User profile card on hover #}
                <p>
                    <a href="{{ path('slmn_wovie_public_profile', {'username': activity.user.username}) }}">
                        <img
                                class="avatar-30"
                                src="{{ getGravatarUrl(activity.user, 30) }}"
                                >
                        {{ activity.user.username }}
                    </a>
                    {% if activity.key == 'follow.added' %}
                        is now following
                        <a href="{{ path('slmn_wovie_public_profile', {'username': activity.value.username}) }}">
                            <img
                                    class="avatar-30"
                                    src="{{ getGravatarUrl(activity.value, 30) }}"
                                    >
                            {{ activity.value.username }}
                        </a>.
                    {% elseif activity.key == 'media.added' %}
                        added
                        <a href="{{ path('slmn_wovie_public_media_details', {'id': activity.value.id}) }}">
                            {{ activity.value.title }}
                        </a> in their library.
                    {% elseif activity.key == 'view.added' %}
                        watched
                        <a href="{{ path('slmn_wovie_public_media_details', {'id': activity.value.media.id}) }}">
                            {{ activity.value.media.title }}
                        </a>
                        {% if activity.value.episode is defined and activity.value.episode.season %}
                            season {{ activity.value.episode.season }}:
                        {% endif %}
                        {% if activity.value.episode is defined and activity.value.episode.episode %}
                            {% if activity.value.episode.name %}
                                <span data-tooltip class="has-tip" title="{{ activity.value.episode.name }}">
                                            {{ activity.value.episode.episode }}
                                        </span>
                            {% else %}
                                {{ activity.value.episode.episode }}
                            {% endif %}
                        {% elseif activity.value.episodeId %}
                            episode {{ activity.value.episodeId }}
                        {% endif %}.
                    {% else %}
                        {{ activity.key }}
                        {
                        {% if activity.value is iterable %}
                            {% for key, value in activity.value %}
                                {{ key }} => {{ value }}{% if not loop.last %},{% endif %}
                            {% endfor %}
                        {% else %}
                            {{ activity.value }}
                        {% endif %}
                        }
                    {% endif %}
                    <span class="right activity-date">
                        {{ activity.createdAt|date('Y-m-d H:i') }} {# TODO: Add relative time (x minutes ago…) #}
                    </span>
                </p>
            </div>
        </div>
    </div>
{% endmacro %}