{% macro resetFreebaseButton(value, for) %}
    <a
            for="{{ for }}"
            data-value="{{ value }}"
            {% if value != '' %}title="Revert data to {{ '"'|escape }}{{ value }}{{ '"'|escape }}"{% endif %}
            class="button postfix{% if value != '' %} reset-freebase-data has-tip{% else %} disabled{% endif %}"
            {% if value != '' %}data-tooltip{% endif %}
            >
        <i class="fa fa-reply fa-fw"></i>
    </a>
{% endmacro %}

{% macro mediaItem(movie) %}
    <div class="clearfix shelf-media-titles">
        <h6 class="left">{{ movie.title }}</h6>
    </div>
    <div style="position: relative;">
        <a href="{{ path('slmn_wovie_user_movie_details', {'id': movie.id}) }}">
            {% image '@SLMNWovieMainBundle/Resources/assets/placeholder.jpg'
            filter='?jpegoptim' output='images/placeholder.jpg' %}
            {% set placeholderImg = asset_url %}
            {% endimage %}
            <img class="cover lazy" data-original="{{ movie.posterImage|default(placeholderImg) }}">
            <noscript>
                <img class="cover" src="{{ movie.posterImage|default(placeholderImg) }}">
            </noscript>
        </a>
        {% set views = viewsOfId(movie.id) %}
        {% if movie.mediaType == 2 %}
            <div class="cover-progress large-12">
                                        <span class="meter"
                                              style="width: {% if views > 0 %}{{ views / (movie.numberOfEpisodes / 100) }}{% else %}0{% endif %}%">
                                            <p>
                                                <b>
                                                    {% if views >= movie.numberOfEpisodes %}
                                                        <i class="fa fa-check-square"></i>
                                                    {% endif %}
                                                    {{ views }}/{{ movie.numberOfEpisodes }}
                                                </b>
                                            </p>
                                        </span>
            </div>
        {% else %}
            {% if views > 0 %}
                <div class="cover-progress large-12">
                                        <span class="meter" style="width: 100%">
                                            <p>
                                                <b>
                                                    <i class="fa fa-check-square"></i>
                                                    {% if views > 1 %} {{ views }}{% endif %}
                                                </b>
                                            </p>
                                        </span>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="row collapse">
        <div class="small-8 columns">
            {% if movie.mediaType == 1 %}
                <button id="watched-it-button" class="button expand tiny watched_it_cover" data-media-id="{{ movie.id }}">I watched it!
                </button>
            {% else %}
                <button
                        id="watched-it-button"
                        class="button expand tiny"
                        data-reveal-id="modal-frame-choose-episode"
                        onclick="$('#modal-frame-choose-episode > iframe').attr('src', '{{ path('slmn_wovie_action_frames_choose_episode', {'id': movie.id}) }}')"
                        >
                    I watched an episode!
                </button>
            {% endif %}
        </div>
        <div class="small-2 columns">
            <a
                    id="edit-button"
                    href="{{ path('slmn_wovie_user_movie_edit', {'id': movie.id}) }}"
                    class="button expand tiny">
                <i class="fa fa-edit fa-lg"></i>
            </a>
        </div>
        <div class="small-2 columns">
            <a id="details-button" href="{{ path('slmn_wovie_user_movie_details', {'id': movie.id}) }}" class="button expand tiny">
                <i class="fa fa-info fa-lg"></i>
            </a>
        </div>
    </div>
{% endmacro %}

{% macro mediaItemPublic(movie) %}
    <div class="clearfix shelf-media-titles">
        <h6 class="left">{{ movie.title }}</h6>
    </div>
    <div style="position: relative;">
        <a href="{{ path('slmn_wovie_user_movie_details', {'id': movie.id}) }}">
            {% image '@SLMNWovieMainBundle/Resources/assets/placeholder.jpg'
            filter='?jpegoptim' output='images/placeholder.jpg' %}
            {% set placeholderImg = asset_url %}
            {% endimage %}
            <img class="cover lazy" data-original="{{ movie.posterImage|default(placeholderImg) }}">
            <noscript>
                <img class="cover" src="{{ movie.posterImage|default(placeholderImg) }}">
            </noscript>
        </a>
        {% set views = viewsOfId(movie.id) %}
        {% if movie.mediaType == 2 %}
            <div class="cover-progress large-12">
                                        <span class="meter"
                                              style="width: {% if views > 0 %}{{ views / (movie.numberOfEpisodes / 100) }}{% else %}0{% endif %}%">
                                            <p>
                                                <b>
                                                    {% if views >= movie.numberOfEpisodes %}
                                                        <i class="fa fa-check-square"></i>
                                                    {% endif %}
                                                    {{ views }}/{{ movie.numberOfEpisodes }}
                                                </b>
                                            </p>
                                        </span>
            </div>
        {% else %}
            {% if views > 0 %}
                <div class="cover-progress large-12">
                                        <span class="meter" style="width: 100%">
                                            <p>
                                                <b>
                                                    <i class="fa fa-check-square"></i>
                                                    {% if views > 1 %} {{ views }}{% endif %}
                                                </b>
                                            </p>
                                        </span>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <a href="{{ path('slmn_wovie_user_movie_add', { 'prefill': movie.id }) }}" class="button expand tiny"><i class="fa fa-plus fa-lg"></i> Add to my library</a>
        </div>
    </div>
{% endmacro %}

{% macro itemForList(item) %}
    <ul class="inline-list">
        <li style="width: 8%;">
            <a href="{{ path('slmn_wovie_user_movie_details', { 'id': item.id }) }}">
                {% image '@SLMNWovieMainBundle/Resources/assets/placeholder.jpg'
                filter='?jpegoptim' output='images/placeholder.jpg' %}
                    {% set placeholderImg = asset_url %}
                {% endimage %}
                <img class="small-cover lazy" data-original="{{ item.posterImage|default(placeholderImg) }}">
                <noscript>
                    <img class="small-cover" src="{{ movie.posterImage|default(placeholderImg) }}">
                </noscript>
                <div class="image-label">
                    <i class="fa fa-info-circle"></i> Details
                </div>
            </a>
        </li>
        <li style="width: 87%;">
            <div class="row">
                <ul class="result-inline-list">
                    <li>
                        <h5>{{ item.title }}
                            {% if item.writtenBy != null %}
                                <small>written by {{ item.writtenBy }}
                                </small>
                            {% endif %}
                        </h5>
                    </li>
                </ul>
            </div>
            <div class="row">
                <ul class="result-inline-list only-labels" style="margin-bottom: 0px;">
                    <li class="big-label-inlist">
                        {% if item.mediaType == 1 %}
                            <span class="label secondary">movie</span>
                        {% else %}
                            <span class="label secondary">series</span>
                        {% endif %}
                    </li>

                    {% if item.countries != null %}
                        <li class="big-label-inlist">
                                <span class="label secondary">
                                    {{ item.countries }}
                                </span>
                        </li>
                    {% endif %}
                    {% if item.releaseYear != null %}
                        <li class="big-label-inlist">
                                <span class="label secondary">
                                    {{  item.releaseYear }}
                                    {% if item.finalYear != null %}
                                        - {{ item.finalYear }}
                                    {% endif %}
                                </span>
                        </li>
                    {% endif %}
                    {% if item.runtime != null %}
                        <li class="big-label-inlist">
                                <span class="label secondary">
                                    <i class="fa fa-clock-o"></i> {{ item.runtime }} min
                                </span>
                        </li>
                    {% endif %}
                    {% if item.imdbId != null %}
                        <li class="big-label-inlist">
                                <span class="label secondary">
                                    <a href="http://www.imdb.com/title/{{ item.imdbId }}" target="_blank">
                                        <i class="fa fa-external-link"></i> imdb
                                    </a>
                                </span>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="row">
                <p class="result-plot">
                    {% if item.description|length > 300 %}
                        {{ item.description|slice(0, 300) }} …
                    {% else %}
                        {{ item.description }}
                    {% endif %}
                </p>
            </div>
            {% if item.genres != null %}
                <div class="row">
                    <ul class="result-inline-list only-labels">
                        {% for genre in item.genres|split(',') %}
                            <li class="big-label-inlist">
                                        <span class="label secondary">
                                            <a href="{{ path('slmn_wovie_user_search', { 'q':'genre:' ~ genre|trim }) }}">
                                                <i class="fa fa-tag"></i> {{ genre|trim }}
                                            </a>
                                        </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </li>
    </ul>
{% endmacro %}