{% macro broadcasts() %}
    {% import _self as wovie %}
    {% for broadcast in getEnabledBroadcasts() %}
        {% if not broadcast.closeable or not hasSeenBroadcast(broadcast) %}
            {{ wovie.broadcast(broadcast) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro broadcast(broadcast) %}
    <div class="broadcast" data-broadcast-id="{{ broadcast.id }}">
        <i class="fa fa-{{ broadcast.icon }}"></i>
        {{ broadcast.message|raw }}
        {% if broadcast.closeable == true %}
            <button class="action-broadcast-close">OK</button>
        {% endif %}
    </div>
{% endmacro %}

{% macro resetFreebaseButton(value, for) %}
    <a
            for="{{ for }}"
            data-value="{{ value }}"
            {% if value != '' %}title="Revert data to {{ '"'|escape }}{{ value }}{{ '"'|escape }}"{% endif %}
            class="button postfix{% if value != '' %} reset-freebase-data has-tip{% else %} disabled{% endif %}"
            {% if value != '' %}data-tooltip{% endif %}
            >
        <i class="fa fa-reply fa-fw"></i>
    </a>
{% endmacro %}

{% macro mediaItem(movie) %}
    <div class="clearfix shelf-media-titles" id="media-{{ movie.id }}">
        <h6 class="left">{{ movie.title }}</h6>
    </div>
    <div style="position: relative;">
        <a href="{{ path('slmn_wovie_user_movie_details', {'id': movie.id}) }}">
            {% image '@SLMNWovieMainBundle/Resources/assets/placeholder.jpg'
            filter='?jpegoptim' output='images/placeholder.jpg' %}
            {% set placeholderImg = asset_url %}
            {% endimage %}
            <img class="cover" src="{{ movie.posterImage|default(placeholderImg) }}">
        </a>
        {% set views = viewsOfId(movie.id) %}
        {% if movie.mediaType == 2 %}
            <div class="cover-progress small-12">
                <span class="meter"
                      style="width: {% if views > 0 %}{% if views >= movie.numberOfEpisodes %}100{% else %}{{ views / (movie.numberOfEpisodes / 100) }}{% endif %}{% else %}0{% endif %}%">
                        <p><b>
                            {% if views >= movie.numberOfEpisodes %}
                                <i class="fa fa-check-square"></i>
                            {% endif %}
                            {{ views }}/{{ movie.numberOfEpisodes }}
                        </b></p>
                </span>
            </div>
        {% else %}
            {% if views > 0 %}
                <div class="cover-progress small-12">
                                        <span class="meter" style="width: 100%">
                                            <p>
                                                <b>
                                                    <i class="fa fa-check-square"></i>
                                                    {% if views > 1 %} {{ views }}{% endif %}
                                                </b>
                                            </p>
                                        </span>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="row collapse">
        <div class="{% if views > 0 and movie.mediaType == 1 %}small-6{% else %}small-8{% endif %} columns">
            {% if movie.mediaType == 1 %}
                <button id="watched-it-button" class="button expand tiny watched_it_cover" style="margin-bottom: 0;" data-media-id="{{ movie.id }}">Mark as seen
                </button>
            {% else %}
                <button
                        id="watched-it-button"
                        class="button expand tiny"
                        style="margin-bottom: 0;"
                        data-reveal-id="modal-frame-choose-episode"
                        onclick="$('#modal-frame-choose-episode > iframe').attr('src', '{{ path('slmn_wovie_action_frames_choose_episode', {'id': movie.id}) }}')"
                        >
                    Mark an episode as seen
                </button>
            {% endif %}
        </div>
        {% if views > 0 and movie.mediaType == 1 %}
            <div class="small-2 columns">
                <button class="button expand tiny alert watched_it_not" style="margin-bottom: 0;" data-media-id="{{ movie.id }}">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        {% endif %}
        <div class="small-2 columns">
            <a id="details-button" href="{{ path('slmn_wovie_user_movie_details', {'id': movie.id}) }}" class="button expand tiny" style="margin-bottom: 0;">
                <i class="fa fa-search fa-lg"></i>
            </a>
        </div>
        <div class="small-2 columns">
            <a
                    id="edit-button"
                    href="{{ path('slmn_wovie_user_movie_edit', {'id': movie.id}) }}"
                    class="button expand tiny"
                    style="margin-bottom: 0;">
                <i class="fa fa-edit fa-lg"></i>
            </a>
        </div>
    </div>
    {# Rating #}
    <div class="text-center rating-container rating-editable">
        <div>
            {% for i in 1..5 %}
                {% set fixedI = (5+1) - loop.index %}
                {% if movie.rating and fixedI <= movie.rating %}
                    <span class="do-rate-media" data-media-id="{{ movie.id }}" data-rating="{{ fixedI }}">
                        <i class="fa fa-star active"></i>
                    </span>
                {% else %}
                    <span class="do-rate-media" data-media-id="{{ movie.id }}" data-rating="{{ fixedI }}">
                        <i class="fa fa-star-o"></i>
                    </span>
                {% endif %}
            {% endfor %}
        </div>
        {% if movie.favorite == true %}
            <span><i class="fa fa-heart active do-switch-favorite-media" data-media-id="{{ movie.id }}"></i></span>
        {% else %}
            <span><i class="fa fa-heart-o do-switch-favorite-media" data-media-id="{{ movie.id }}"></i></span>
        {% endif %}
    </div>
{% endmacro %}

{% macro mediaItemPublic(movie) %}
    <div class="clearfix shelf-media-titles">
        <h6 class="left">{{ movie.title }}</h6>
    </div>
    <div style="position: relative;">
        <a href="{{ path('slmn_wovie_public_media_details', {'id': movie.id}) }}">
            {% image '@SLMNWovieMainBundle/Resources/assets/placeholder.jpg'
            filter='?jpegoptim' output='images/placeholder.jpg' %}
            {% set placeholderImg = asset_url %}
            {% endimage %}
            <img class="cover" src="{{ movie.posterImage|default(placeholderImg) }}">
        </a>
        {% set views = viewsOfId(movie.id) %}
        {% if movie.mediaType == 2 %}
            <div class="cover-progress small-12">
                                        <span class="meter"
                                              style="width: {% if views > 0 %}{% if views >= movie.numberOfEpisodes %}100{% else %}{{ views / (movie.numberOfEpisodes / 100) }}{% endif %}{% else %}0{% endif %}%">
                                            <p>
                                                <b>
                                                    {% if views >= movie.numberOfEpisodes %}
                                                        <i class="fa fa-check-square"></i>
                                                    {% endif %}
                                                    {{ views }}/{{ movie.numberOfEpisodes }}
                                                </b>
                                            </p>
                                        </span>
            </div>
        {% else %}
            {% if views > 0 %}
                <div class="cover-progress small-12">
                                        <span class="meter" style="width: 100%">
                                            <p>
                                                <b>
                                                    <i class="fa fa-check-square"></i>
                                                    {% if views > 1 %} {{ views }}{% endif %}
                                                </b>
                                            </p>
                                        </span>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            {% set inMyLibrary = isInMyLibrary(movie.freebaseId) %}
            {% if movie.freebaseId and inMyLibrary %}
                <div class="row collapse">
                    <div class="small-12 columns">
                        <a
                                href="{{ path('slmn_wovie_user_movie_details', { 'id': inMyLibrary.id }) }}"
                                class="button expand tiny"
                                style="margin-bottom: 0;"
                                >
                            <i class="fa fa-search fa-lg"></i> View in my library
                        </a>
                    </div>
                </div>
            {% else %}
                <a href="{{ path('slmn_wovie_user_movie_add', { 'prefill': movie.id }) }}" class="button expand tiny" style="margin-bottom: 0;">
                    <i class="fa fa-plus fa-lg"></i> Add to my library
                </a>
            {% endif %}
        </div>
    </div>
    {# Rating #}
    <div class="text-center rating-container">
        <div>
            {% for i in 1..5 %}
                {% set fixedI = (5+1) - loop.index %}
                {% if movie.rating and fixedI <= movie.rating %}
                    <span>
                        <i class="fa fa-star active"></i>
                    </span>
                {% else %}
                    <span>
                        <i class="fa fa-star-o"></i>
                    </span>
                {% endif %}
            {% endfor %}
        </div>
        {% if movie.favorite == true %}
            <span><i class="fa fa-heart active"></i></span>
        {% else %}
            <span><i class="fa fa-heart-o"></i></span>
        {% endif %}
    </div>
{% endmacro %}

{% macro itemForList(item) %}
    <div class="row">
        <div class="medium-2 small-12 columns">
            <a href="{{ path('slmn_wovie_user_movie_details', { 'id': item.id }) }}">
                {% image '@SLMNWovieMainBundle/Resources/assets/placeholder.jpg'
                filter='?jpegoptim' output='images/placeholder.jpg' %}
                {% set placeholderImg = asset_url %}
                {% endimage %}
                <img class="small-cover" src="{{ item.posterImage|default(placeholderImg) }}">
                <button class="expand really-tiny details-button"><i class="fa fa-search"></i> Details</button>
            </a>
        </div>
        <div class="medium-10 small-12 columns search-result-container">
            <div class="row">
                <ul class="result-inline-list">
                    <li>
                        <h5>{{ item.title }}
                            {% if item.writtenBy != null %}
                                <small>written by {{ item.writtenBy }}
                                </small>
                            {% endif %}
                        </h5>
                    </li>
                </ul>
            </div>
            <div class="row">
                <ul class="result-inline-list" style="margin-bottom: 0px;">
                    <li class="big-label-inlist">
                        {% if item.mediaType == 1 %}
                            <span class="label secondary">movie</span>
                        {% else %}
                            <span class="label secondary">series</span>
                        {% endif %}
                    </li>

                    {% if item.countries != null %}
                        <li class="big-label-inlist">
                                <span class="label secondary">
                                    {{ item.countries }}
                                </span>
                        </li>
                    {% endif %}
                    {% if item.releaseYear != null %}
                        <li class="big-label-inlist">
                                <span class="label secondary">
                                    {{  item.releaseYear }}
                                    {% if item.finalYear != null %}
                                        - {{ item.finalYear }}
                                    {% endif %}
                                </span>
                        </li>
                    {% endif %}
                    {% if item.runtime != null %}
                        <li class="big-label-inlist">
                                <span class="label secondary">
                                    <i class="fa fa-clock-o"></i> {{ item.runtime }} min
                                </span>
                        </li>
                    {% endif %}
                    {% if item.imdbId != null %}
                        <li class="big-label-inlist">
                                <span class="label secondary">
                                    <a href="http://www.imdb.com/title/{{ item.imdbId }}" target="_blank">
                                        <i class="fa fa-external-link"></i> imdb
                                    </a>
                                </span>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="row">
                <p class="result-plot">
                    {% if item.description|length > 300 %}
                        {{ item.description|slice(0, 300) }} …
                    {% else %}
                        {{ item.description }}
                    {% endif %}
                </p>
            </div>
            {% if item.genres != null %}
                <div class="row">
                    <ul class="result-inline-list">
                        {% for genre in item.genres|split(',') %}
                            <li class="big-label-inlist">
                                        <span class="label secondary">
                                            <i class="fa fa-tag"></i> {{ genre|trim }}
                                        </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro mediaDetails(media, public) %}
    {% set views = viewsOfId(media.id) %}
    <div class="row">
        <div class="small-12 push-1 columns small-only-text-center">
            <h3>{{ media.title }}{% if media.writtenBy %} <small>written by {{ media.writtenBy|linkList2search('writer') }}</small>{% endif %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-4 push-1 columns" style="position: relative;">
            {% image '@SLMNWovieMainBundle/Resources/assets/placeholder.jpg'
            filter='?jpegoptim' output='images/placeholder.jpg' %}
            {% set placeholderImg = asset_url %}
            {% endimage %}
            <div class="row">
                <div class="small-12 columns">
                    <div class="cover-progress-big">
                        <p class="right next-episode-p">
                            {% if public == false and views < media.numberOfEpisodes %}
                                {% set hasUnwatched = false %}
                                {% for key,episode in media.episodes %}
                                    {% if hasUnwatched == false  %}
                                        {% if viewsOfId(media.id, key) <= 0 %}
                                            <span data-tooltip
                                                  class="has-tip"
                                                  style="color: #fff; font-weight: normal;"
                                                  title="{{ episode.name }}">
                                                Next S{% if episode.season|length < 2 %}0{% endif %}{{ episode.season }}E{% if episode.episode|length < 2 %}0{% endif %}{{ episode.episode }}
                                                  </span>
                                            {% set hasUnwatched = true %}
                                            <button class="next-episode-watched watched_it" data-media-id="{{ media.id }}" data-episode-id="{{ key }}"><i class="fa fa-eye"></i></button>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% elseif views < media.numberOfEpisodes %}
                                {% set foundLastSeen = false %}
                                {% for key,episode in media.episodes %}
                                    {% if foundLastSeen == false and viewsOfId(media.id, key) >= 1 and viewsOfId(media.id, key+1) < 1 %}
                                        <span data-tooltip
                                              class="has-tip"
                                              style="color: #fff; font-weight: normal;"
                                              title="{{ episode.name }}">
                                                Last seen S{% if episode.season|length < 2 %}0{% endif %}{{ episode.season }}E{% if episode.episode|length < 2 %}0{% endif %}{{ episode.episode }}
                                        </span>
                                        {% set foundLastSeen = true %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </p>
                        {% if media.mediaType == 2 %}
                            <span class="meter clearfix"
                                  style="width: {% if views > 0 %}{% if views >= media.numberOfEpisodes %}100{% else %}{{ views / (media.numberOfEpisodes / 100) }}{% endif %}{% else %}0{% endif %}%">
                          <p class="left" style="margin-bottom: 0; white-space: nowrap;"><b>
                                  {% if views >= media.numberOfEpisodes %}
                                      <i class="fa fa-check-square"></i>
                                  {% endif %}
                                  {{ views }}/{{ media.numberOfEpisodes }}
                              </b>
                          </p>
                    </span>
                        {% else %}
                            {% if views > 0 %}
                                <span class="meter" style="width: 100%">
                            <p><b>
                                    <i class="fa fa-check-square"></i>
                                    {% if views > 1 %} {{ views }}{% endif %}
                                </b></p>
                        </span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <img class="cover-big" src="{{ media.posterImage|default(placeholderImg) }}">
                </div>
            </div>
            {% if public == false %}
                <div class="row collapse">
                    <div class="{% if views > 0 and media.mediaType == 1 %}small-8{% else %}small-10{% endif %} columns">
                        {% if media.mediaType == 1 %}
                            <button id="watched-it-button" class="button expand tiny watched_it_cover" data-media-id="{{ media.id }}" style="margin-bottom: 0;">Mark as seen
                            </button>
                        {% else %}
                            <button
                                    id="watched-it-button"
                                    class="button expand tiny"
                                    data-reveal-id="modal-frame-choose-episode"
                                    onclick="$('#modal-frame-choose-episode > iframe').attr('src', '{{ path('slmn_wovie_action_frames_choose_episode', {'id': media.id}) }}')"
                                    style="margin-bottom: 0;"
                                    >
                                Mark an episode as seen
                            </button>
                        {% endif %}
                    </div>
                    {% if views > 0 and media.mediaType == 1 %}
                        <div class="small-2 columns">
                            <button class="button expand tiny alert watched_it_not" data-media-id="{{ media.id }}" style="margin-bottom: 0;">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    {% endif %}
                    <div class="small-2 columns">
                        <a
                                id="edit-button"
                                href="{{ path('slmn_wovie_user_movie_edit', {'id': media.id}) }}"
                                class="button expand tiny"
                                style="margin-bottom: 0;">
                            <i class="fa fa-edit fa-lg"></i>
                        </a>
                    </div>
                </div>
            {% else %}
                {% set inMyLibrary = isInMyLibrary(media.freebaseId) %}
                {% if media.freebaseId and inMyLibrary %}
                    <div class="row collapse">
                        <div class="small-12 columns">
                            <a
                                    href="{{ path('slmn_wovie_user_movie_details', { 'id': inMyLibrary.id }) }}"
                                    class="button expand tiny"
                                    style="margin-bottom: 0;"
                                    >
                                <i class="fa fa-search fa-lg"></i> View in my library
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="row collapse">
                        <div class="small-12 columns">
                            <a
                                    href="{{ path('slmn_wovie_user_movie_add', { 'prefill': media.id }) }}"
                                    class="button expand tiny"
                                    style="margin-bottom: 0;"
                                    >
                                <i class="fa fa-plus fa-lg"></i> Add to my library
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {# Rating #}
            <div class="text-center rating-container{% if public == false %} rating-editable{% endif %}" style="margin-bottom: 10px;">
                <div>
                    {% for i in 1..5 %}
                        {% set fixedI = (5+1) - loop.index %}
                        {% if media.rating and fixedI <= media.rating %}
                            <span{% if public == false %} class="do-rate-media" data-media-id="{{ media.id }}" data-rating="{{ fixedI }}"{% endif %}>
                        <i class="fa fa-star active"></i>
                    </span>
                        {% else %}
                            <span{% if public == false %} class="do-rate-media" data-media-id="{{ media.id }}" data-rating="{{ fixedI }}"{% endif %}>
                        <i class="fa fa-star-o"></i>
                    </span>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if media.favorite == true %}
                    <span><i class="fa fa-heart active{% if public == false %} do-switch-favorite-media{% endif %}" {% if public == false %}data-media-id="{{ media.id }}"{% endif %}></i></span>
                {% else %}
                    <span><i class="fa fa-heart-o{% if public == false %} do-switch-favorite-media{% endif %}"{% if public == false %} data-media-id="{{ media.id }}"{% endif %}></i></span>
                {% endif %}
            </div>
        </div>
        <div class="small-12 large-6 pull-1 columns">
            <div class="row">
                <div class="small-12 columns details-inline-list">
                    {% if media.mediaType == 1 %}
                        <li class="big-label-inlist">
                            <span class="label secondary">movie</span>
                        </li>
                    {% elseif media.mediaType == 2 %}
                        <li class="big-label-inlist">
                            <span class="label secondary">series</span>
                        </li>
                    {% endif %}
                    {% if media.countries %}
                        <li class="big-label-inlist">
                            <span class="label secondary">{{ media.countries }}</span>
                        </li>
                    {% endif %}
                    {% if media.releaseYear %}
                        <li class="big-label-inlist">
                            <span class="label secondary">
                                {{ media.releaseYear }}
                                {% if media.finalYear %}
                                    - {{ media.finalYear }}
                                {% endif %}
                            </span>
                        </li>
                    {% endif %}
                    {% if media.runtime %}
                        <li class="big-label-inlist">
                            <span class="label secondary">
                                <i class="fa fa-clock-o"></i> {{ media.runtime }} min
                            </span>
                        </li>
                    {% endif %}
                    {% if media.imdbId %}
                        <li class="big-label-inlist">
                            <span class="label secondary">
                                <a href="http://www.imdb.com/title/{{ media.imdbId }}" target="_blank">
                                    <i class="fa fa-external-link"></i> imdb
                                </a>
                            </span>
                        </li>
                    {% endif %}
                    <li class="big-label-inlist">
                        <span class="label secondary">
                            added at {{ media.createdAt|date('Y-m-d') }}
                        </span>
                    </li>
                </div>
            </div>
            {% if media.description %}
                <div class="row">
                    <div class="small-12 columns">
                        <p class="meta-header-small">Description</p>
                        <p class="description">
                            {{ media.description }}
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if media.genres %}
                <div class="row">
                    <div class="small-12 columns details-inline-list">
                        {% for genre in media.genres|split(',') %}
                            <li class="big-label-inlist">
                        <span class="label secondary">
                            <i class="fa fa-tag"></i> {{ genre|trim }}
                        </span>
                            </li>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% set friendsThatHaveMedia = getFriendsThatHaveMedia(media) %}
            {% if friendsThatHaveMedia|length > 0 %}
                <div class="row">
                    <div class="small-12 columns">
                        {{ friendsThatHaveMedia|length }}
                        {% if friendsThatHaveMedia|length < 2 %}
                            friend
                        {% else %}
                            friends
                        {% endif %}
                        have this in their library
                        {% for friend in friendsThatHaveMedia %}
                            <a href="{{ path('slmn_wovie_public_profile', { 'username': friend.username }) }}">
                                <img
                                        class="avatar-30"
                                        src="{{ getGravatarUrl(friend, 30) }}"
                                        >
                                {{ friend.username }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {# TODO: Add widget, more statistics, etc #}
{% endmacro %}

{% macro share(url, message) %}
    <div class="row">
        <div class="small-12 columns">
            <ul class="inline-list">
                <li>
                    <p style="margin-top: 4px;">Share on</p>
                </li>
                <li style="margin-left: 10px;">
                    <ul class="button-group">
                        <li><a
                                    href="https://twitter.com/share?url={{ url|default('')|url_encode }}&via=WovieApp&message={{ message|default('')|url_encode }}"
                                    target="_new" class="button tiny"><i class="fa fa-twitter fa-lg"></i></a></li>
                        <li><a
                                    href="https://www.facebook.com/sharer/sharer.php?u={{ url|default('')|url_encode }}"
                                    target="_new" class="button tiny"><i class="fa fa-facebook fa-lg"></i></a></li>
                        <li><a
                                    href="https://plus.google.com/share?url={{ url|default('')|url_encode }}"
                                    target="_new" class="button tiny"><i class="fa fa-google-plus fa-lg"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endmacro %}

{% macro navbar(query) %}
<nav class="top-bar flat-nav" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1>
                {% if app.user is not null and is_granted('ROLE_USER') %}
                    <a href="{{ path('slmn_wovie_user_dashboard') }}">
                        WOVIE <span
                                data-tooltip
                                class="has-tip"
                                title="Alpha version {{ wovieVersion() }} ({{ wovieRevision() }})."
                                style="color: white;"
                                >
                                    α
                                </span>
                    </a>
                {% else %}
                    <a href="{{ path('slmn_wovie_public_index') }}">
                        WOVIE
                    </a>
                {% endif %}
            </h1>
        </li>
        {% if app.user is not null and is_granted('ROLE_USER') %}
            <li class="toggle-topbar menu-icon">
                <a href=""><span>Menu</span></a>
            </li>
        {% endif %}
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            {% if app.user is not null and is_granted('ROLE_USER') %}
                <li class="has-form">
                    <form type="get" action="{{ path('slmn_wovie_user_search') }}">
                        <div class="search-wrapper">
                            <input
                                    class="top-bar-search"
                                    name="q"
                                    type="text"
                                    placeholder="Search"
                                    required=""
                                    id="search"
                                    {% if query is defined %}value="{{ query }}"{% endif %}
                                    >
                        </div>
                    </form>
                </li>
                <li{% if app.request.get('_route') == 'slmn_wovie_user_movie_add' %} class="active"{% endif %}>
                    <a href="{{ path('slmn_wovie_user_movie_add') }}">
                        <i class="fa fa-plus"></i> Add
                    </a>
                </li>
                <li{% if app.request.get('_route') == 'slmn_wovie_user_movie_shelf' %} class="active"{% endif %}>
                    <a id="shelf" href="{{ path('slmn_wovie_user_movie_shelf') }}">
                        <i class="fa fa-list"></i> Library
                    </a>
                </li>
                <li{% if app.request.get('_route') == 'slmn_wovie_user_activity' %} class="active"{% endif %}>
                    <a id="shelf" href="{{ path('slmn_wovie_user_activity') }}">
                        <i class="fa fa-clock-o"></i> Activity
                    </a>
                </li>
            {% endif %}
        </ul>
        <ul class="right">
            {% if app.user is not null and is_granted('ROLE_USER') %}
                <li class="has-form">
                    <a href="{{ path('slmn_wovie_user_feedback') }}" class="button secondary">Alpha feedback</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="has-dropdown">
                        <a href="{{ path('slmn_wovie_admin_dashboard') }}">
                            <i class="fa fa-cogs"></i>
                            <b>Admin</b>
                        </a>
                        <ul class="dropdown">
                            <li>
                                <a href="{{ path('slmn_wovie_admin_broadcasts') }}">
                                    <i class="fa fa-bullhorn"></i> Broadcasts
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('slmn_wovie_admin_emailTemplates') }}">
                                    <i class="fa fa-envelope"></i> EMails
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                <li class="has-dropdown">
                    {% set profileUrl = '#' %}
                    {% if getUserOption('publicProfile', false) == true %}
                        {% set profileUrl = path('slmn_wovie_public_profile', {'username': app.security.getToken().getUser().username}) %}
                    {% endif %}
                    <a href="{{ profileUrl }}">
                        <img class="top-bar-avatar" src="{{ getGravatarUrl(app.security.getToken().getUser(), 30) }}">
                        <b>{{ app.security.getToken().getUser().username }}</b>
                    </a>
                    <ul class="dropdown">
                        <li>
                            <a href="{{ path('slmn_wovie_user_settings_general') }}">
                                <i class="fa fa-gear"></i> Settings
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('slmn_wovie_user_settings_profile') }}">
                                <i class="fa fa-user"></i> Account
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('slmn_wovie_user_settings_billing') }}">
                                <i class="fa fa-money"></i> Billing
                            </a>
                        </li>
                        <li><a href="{{ path('logout') }}"><i class="fa fa-power-off"></i> Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="has-form">
                    <a href="{{ path('slmn_wovie_public_index') }}" class="button secondary">Sign up!</a>
                </li>
                <li>
                    <a href="{{ path('login') }}"><i class="fa"></i> Login</a>
                </li>
            {% endif %}
        </ul>
    </section>
</nav>
{% endmacro %}

{% macro footer() %}
<footer id="footer">
    <div class="footer">
        <div class="row">
            <div class="large-12 columns">
                    <span>
                        <a class="logo" href="https://wovieapp.com">WOVIE</a>
                    </span>
                <ul class="inline-list footer-first-list">
                    {# <li><a href="#">BLOG</a></li> #}
                    <li><a href="{{ path('slmn_wovie_public_imprint') }}">CONTACT / IMPRESSUM</a></li>
                </ul>
                <p class="copyright">© {{ copyrightYear(2014) }} Sebastian Winkler</p>
            </div>
        </div>
    </div>
</footer>
{% endmacro %}

{% macro printActivity(activity) %}
<div class="infinite-item">
    <div class="row activities-row infinite-item">
        <div class="small-12 columns">
            <div class="panel activity-panel">
                <p>
                    <span class="activity-type">
                    {% if activity.key == 'favorite.added' %}
                        <i class="fa fa-heart"></i>
                    {% elseif activity.key == 'media.added' %}
                        <i class="fa fa-plus"></i>
                    {% elseif activity.key == 'view.added' %}
                        <i class="fa fa-eye"></i>
                    {% elseif activity.key == 'follow.added' %}
                        <i class="fa fa-user"></i>
                    {% endif %}
                    </span>
                    <a href="{{ path('slmn_wovie_public_profile', {'username': activity.user.username}) }}">
                        <img
                                class="avatar-30"
                                src="{{ getGravatarUrl(activity.user, 30) }}"
                                >
                        {% if app.security.getToken().getUser().username != activity.user.username %}
                            {{ activity.user.username }}
                        {% else %}
                            you
                        {% endif %}
                    </a>
                    {% if activity.key == 'favorite.added' %}
                        added
                        {% for media in activity.value %}
                            {% set myMedia = getMediaById(media.mediaId) %}
                            {%- if myMedia -%}
                                {%- if app.security.getToken().getUser().username != activity.user.username -%}
                                    <a href="{{ path('slmn_wovie_public_media_details', {'id': myMedia.id}) }}">
                                        {{- myMedia.title -}}
                                    </a>
                                {%- else -%}
                                    <a href="{{ path('slmn_wovie_user_movie_details', {'id': myMedia.id}) }}">
                                        {{- myMedia.title -}}
                                    </a>
                                {%- endif -%}
                            {%- else -%}
                                deleted
                            {%- endif -%}
                            {%- if not loop.last -%},{%- endif -%}
                        {% endfor %}
                        {% if app.security.getToken().getUser().username != activity.user.username %}
                            to their favorites
                        {% else %}
                            to your favorites
                        {% endif %}
                    {% elseif activity.key == 'media.added' %}
                        added
                        {% for media in activity.value %}
                            {% set myMedia = getMediaById(media.mediaId) %}
                            {%- if myMedia -%}
                                {%- if app.security.getToken().getUser().username != activity.user.username -%}
                                    <a href="{{ path('slmn_wovie_public_media_details', {'id': myMedia.id}) }}">
                                        {{- myMedia.title -}}
                                    </a>
                                {%- else -%}
                                    <a href="{{ path('slmn_wovie_user_movie_details', {'id': myMedia.id}) }}">
                                        {{- myMedia.title -}}
                                    </a>
                                {%- endif -%}
                            {%- else -%}
                                deleted
                            {%- endif -%}
                            {%- if not loop.last -%},{%- endif -%}
                        {% endfor %}
                        {% if app.security.getToken().getUser().username != activity.user.username %}
                            to their library
                        {% else %}
                            to your library
                        {% endif %}
                    {% elseif activity.key == 'view.added' %}
                        watched
                        {% set beforeWasSeries = false %}
                        {% for media in activity.value %}
                            {% set myMedia = getMediaById(media.mediaId) %}
                            {%- if myMedia -%}
                                {%- if app.security.getToken().getUser().username != activity.user.username -%}
                                    <a href="{{ path('slmn_wovie_public_media_details', {'id': myMedia.id}) }}">
                                        {{- myMedia.title -}}
                                    </a>
                                {%- else -%}
                                    <a href="{{ path('slmn_wovie_user_movie_details', {'id': myMedia.id}) }}">
                                        {{- myMedia.title -}}
                                    </a>
                                {%- endif -%}
                                {% if media.seasons is defined %}
                                    {% set beforeWasSeries = true %}
                                    {% for season,episodes in media.seasons %}
                                        {% set hyphenPrinted = false %}
                                        season {{ season }}:
                                        {% for episodeId,episodeInSeason in episodes|sort %}
                                            {% if episodes[episodeId+1] is defined and episodes[episodeId+1] == episodeInSeason+1 %}
                                                {% if hyphenPrinted == false %}
                                                    {{ episodes[episodeId] }} -
                                                    {% set hyphenPrinted = true %}
                                                {% endif %}
                                            {% else %}
                                                {{ episodeInSeason }}
                                                {% set hyphenPrinted = false %}
                                                {%- if not loop.last -%},{%- endif -%}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% else %}
                                    {%- set beforeWasSeries = false -%}
                                {% endif %}
                            {%- else -%}
                                deleted
                            {%- endif -%}
                            {%- if not loop.last and beforeWasSeries == false -%},{%- endif -%}
                        {% endfor %}
                    {% elseif activity.key == 'follow.added' %}
                        {% if app.security.getToken().getUser().username != activity.user.username %}
                            is
                        {% else %}
                            are
                        {% endif %}
                        now following
                        {% for user in activity.value %}
                            {% set myUser = getUserById(user.userId) %}
                            {%- if myUser -%}
                                <a href="{{ path('slmn_wovie_public_profile', {'username': myUser.username}) }}">
                                    <img
                                            class="avatar-30"
                                            src="{{ getGravatarUrl(myUser, 30) }}"
                                            >
                                    {%- if app.security.getToken().getUser().username != myUser.username -%}
                                        &nbsp;{{ myUser.username }}
                                    {%- else -%}
                                        &nbsp;you
                                    {%- endif -%}
                                </a>
                            {%- else -%}
                                deleted
                            {%- endif -%}
                            {%- if not loop.last -%},{%- endif -%}
                        {% endfor %}
                    {% else %}
                        #{{ activity.id }} {{ activity.key }}
                    {% endif %}
                    <a href="{{ path('slmn_wovie_user_activity', { 'id': activity.id }) }}"
                       class="activity-date">
                        {{ timeAgo(activity.time) }}
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
