{% extends "SLMNWovieMainBundle::html/layout.html.twig" %}

{% block pagetitle %}WOVIE - activity{% endblock pagetitle %}

{% block body %}
    {% if activities|length > 0 %}
        {% for activity in activities %}
            <div class="row activities-row">
                <div class="small-12 columns">
                    {# TODO: User profile card on hover #}
                    <p>
                        {# TODO: Link to profile #}
                        <a href="{{ path('slmn_wovie_public_profile', {'username': activity.user.username}) }}">
                            <img
                                    data-tooltip
                                    class="has-tip tip-right avatar-30"
                                    title="{{ activity.user.username }}"
                                    src="{{ getGravatarUrl(activity.user, 30) }}"
                                    >
                        </a>
                        {% if activity.key == 'follow.added' %}
                            is now following
                            <a href="{{ path('slmn_wovie_public_profile', {'username': activity.value.username}) }}">
                                <img
                                        data-tooltip
                                        class="has-tip tip-right avatar-30"
                                        title="{{ activity.value.username }}"
                                        src="{{ getGravatarUrl(activity.value, 30) }}"
                                        >
                            </a>.
                        {% else %}
                            {{ activity.key }}
                            {
                            {% if activity.value is iterable %}
                                {% for key, value in activity.value %}
                                    {{ key }} => {{ value }}{% if not loop.last %},{% endif %}
                                {% endfor %}
                            {% else %}
                                {{ activity.value }}
                            {% endif %}
                            }
                        {% endif %}
                    </p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row" style="margin-top: 10px;">
            <div class="small-12 columns">
                {{ main.alertBox('No activities here, try to add some friends.', '', 0) }} {# TODO: Friendssearch #}
            </div>
        </div>
    {% endif %}
{% endblock body %}
