{% extends "SLMNWovieMainBundle::html/layout.html.twig" %}

{% block pagetitle %}WOVIE - add{% endblock pagetitle %}

{% block body %}
    <div class="row">
        {{ form_start(newMediaForm) }}
        <div class="large-4 columns">
            <h3>Cover</h3>
            {% image '@SLMNWovieMainBundle/Resources/assets/placeholder.jpg'
            filter='?jpegoptim' output='images/placeholder.jpg' %}
                {% set placeholderImg = asset_url %}
            {% endimage %}
            <img style="width: 100%;" src="{{ newMediaForm.vars.value.posterImage|default(placeholderImg) }}">
        </div>
        <div class="large-6 columns left">
            <h3>Add new media</h3>
            {{ form_errors(newMediaForm) }}
            {{ form_row(newMediaForm.mediaType) }}
            {{ form_row(newMediaForm.title) }}
            {{ form_row(newMediaForm.description) }}
            {{ form_row(newMediaForm.countries) }}
            {{ form_row(newMediaForm.writtenBy) }}
            {{ form_row(newMediaForm.genres) }}
            {{ form_label(newMediaForm.runtime) }}
            <div class="row collapse">
                <div class="small-11 columns">
                    {{ form_row(newMediaForm.runtime, {'label': false}) }}
                </div>
                <div class="small-1 columns">
                    <span class="postfix radius">min</span>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    {{ form_row(newMediaForm.releaseYear) }}
                </div>
                <div class="large-6 columns">
                    {% if newMediaForm.vars.value.mediaType|default(0) == 1 %}
                        {{ form_row(newMediaForm.finalYear, {'disabled': true}) }}
                    {% else %}
                        {{ form_row(newMediaForm.finalYear) }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    {% if newMediaForm.vars.value.mediaType|default(0) == 1 %}
                        {{ form_row(newMediaForm.numberOfEpisodes, {'disabled': true}) }}
                    {% else %}
                        {{ form_row(newMediaForm.numberOfEpisodes) }}
                    {% endif %}
                </div>
            </div>
            {{ form_row(newMediaForm.submit) }}
            {% if newMediaForm.freebaseId is defined and newMediaForm.imdbId is defined %}
                <div class="row">
                    <div class="large-6 columns">
                        {{ form_row(newMediaForm.freebaseId) }}
                    </div>
                    <div class="large-6 columns">
                        {{ form_row(newMediaForm.imdbId) }}
                    </div>
                </div>
            {% endif %}
            {{ form_end(newMediaForm) }}
            {% if getUserOption('didJoyrideAddMovie', false) == false %}
                {% include "SLMNWovieMainBundle:html/joyride:addMovie.html.twig" %}
                {% set done = setUserOption('didJoyrideAddMovie', true) %}
            {% endif %}
        </div>
    </div>
{% endblock body %}
