{% extends "SLMNWovieMainBundle::html/layout.html.twig" %}

{% block pagetitle %}WOVIE -  {{ media.title }}{% endblock pagetitle %}

{% block body %}
    {% set views = viewsOfId(media.id) %}
    <div class="row">
        <div class="small-12 push-1 columns small-only-text-center">
            <h3>{{ media.title }}{% if media.writtenBy %} <small>written by {{ media.writtenBy|linkList2search('writer') }}</small>{% endif %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-4 push-1 columns" style="position: relative;">
            {% image '@SLMNWovieMainBundle/Resources/assets/placeholder.jpg'
               filter='?jpegoptim' output='images/placeholder.jpg' %}
               {% set placeholderImg = asset_url %}
            {% endimage %}
            <div class="row">
                <div class="small-12 columns">
                    <div class="cover-progress-big">
                        {% if media.mediaType == 2 %}
                            <span class="meter"
                                  style="width: {% if views > 0 %}{{ views / (media.numberOfEpisodes / 100) }}{% else %}0{% endif %}%">
                          <p><b>
                                  {% if views >= media.numberOfEpisodes %}
                                      <i class="fa fa-check-square"></i>
                                  {% endif %}
                                  {{ views }}/{{ media.numberOfEpisodes }}
                              </b></p>
                    </span>
                        {% else %}
                            {% if views > 0 %}
                                <span class="meter" style="width: 100%">
                            <p><b>
                                    <i class="fa fa-check-square"></i>
                                    {% if views > 1 %} {{ views }}{% endif %}
                                </b></p>
                        </span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <img class="cover-big lazy" data-original="{{ media.posterImage|default(placeholderImg) }}">
                    <noscript>
                        <img class="cover-big" src="{{ media.posterImage|default(placeholderImg) }}">
                    </noscript>
                </div>
            </div>
            <div class="row collapse">
                <div class="small-10 columns">
                    {% if media.mediaType == 1 %}
                        <button id="watched-it-button" class="button expand tiny watched_it_cover" data-media-id="{{ media.id }}">I watched it!
                        </button>
                    {% else %}
                        <button
                                id="watched-it-button"
                                class="button expand tiny"
                                data-reveal-id="modal-frame-choose-episode"
                                onclick="$('#modal-frame-choose-episode > iframe').attr('src', '{{ path('slmn_wovie_action_frames_choose_episode', {'id': media.id}) }}')"
                                >
                            I watched an episode!
                        </button>
                    {% endif %}
                </div>
                <div class="small-2 columns">
                    <a
                            id="edit-button"
                            href="{{ path('slmn_wovie_user_movie_edit', {'id': media.id}) }}"
                            class="button expand tiny">
                        <i class="fa fa-edit fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="small-12 large-6 pull-1 columns">
            <div class="row">
                <div class="small-12 columns details-inline-list">
                    {# TODO: IMDB Rating #}
                    {% if media.mediaType == 1 %}
                        <li class="big-label-inlist">
                            <span class="label secondary">movie</span>
                        </li>
                    {% elseif media.mediaType == 2 %}
                        <li class="big-label-inlist">
                            <span class="label secondary">series</span>
                        </li>
                    {% endif %}
                    {% if media.countries %}
                        <li class="big-label-inlist">
                            <span class="label secondary">{{ media.countries }}</span>
                        </li>
                    {% endif %}
                    {% if media.releaseYear %}
                        <li class="big-label-inlist">
                            <span class="label secondary">
                                {{ media.releaseYear }}
                                {% if media.finalYear %}
                                    - {{ media.finalYear }}
                                {% endif %}
                            </span>
                        </li>
                    {% endif %}
                    {% if media.runtime %}
                        <li class="big-label-inlist">
                            <span class="label secondary">
                                <i class="fa fa-clock-o"></i> {{ media.runtime }} min
                            </span>
                        </li>
                    {% endif %}
                    {% if media.imdbId %}
                        <li class="big-label-inlist">
                            <span class="label secondary">
                                <a href="http://www.imdb.com/title/{{ media.imdbId }}" target="_blank">
                                    <i class="fa fa-external-link"></i> imdb
                                </a>
                            </span>
                        </li>
                    {% endif %}
                </div>
            </div>
            {% if media.description %}
            <div class="row">
                <div class="small-12 columns">
                    <p class="meta-header-small">Description</p>
                    <p class="description">
                        {{ media.description }}
                    </p>
                </div>
            </div>
            {% endif %}
            {% if media.genres %}
            <div class="row">
                <div class="small-12 columns details-inline-list">
                    {% for genre in media.genres|split(',') %}
                    <li class="big-label-inlist">
                        <span class="label secondary">
                            <a href="{{ path('slmn_wovie_user_search', { 'q':'genre:' ~ genre|trim }) }}">
                                <i class="fa fa-tag"></i> {{ genre|trim }}
                            </a>
                        </span>
                    </li>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {# TODO: Add widget, more statistics, etc #}
{% endblock body %}
