{% extends "SLMNWovieMainBundle::html/layout.html.twig" %}

{% block pagetitle %}WOVIE - search result for {{ query }}{% endblock pagetitle %}

{% block body %}
    <div class="row">
        <div class="large-12 columns">
            <h4>Results for "{{ query }}" in shelf</h4>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            {{ main.alertBox('Not implented yet', '', 0) }}
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h4>Results for "{{ query }}" to add <small>data from the <a target="_blank" href="http://www.omdbapi.com/">OMDb API</a></small></h4>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul class="inline-list">
                <li>
                    <img
                            class="small-cover"
                            src=" {{ path('slmn_wovie_image_externalCover', { id: 'MV5BMTQ0NDIyNzAzNF5BMl5BanBnXkFtZTcwOTcxNjYzMQ@@._V1_SX300' }) }}"
                            >
                </li>
                <li>
                    <div class="row">
                        <ul class="inline-list">
                            <li><h5>Detective Conan <small>by Gôshô Aoyama</small></h5></li>
                            <li><span class="label success">8.4</span></li>
                        </ul>
                    </div>
                    <div class="row">
                        <span class="label secondary">series</span>
                        <span class="label secondary">1996–</span>
                        <span class="label secondary">Japan</span>
                    </div>
                    <div class="row">
                        <p>Minami Takayama, Wakana Yamazaki, Akira Kamiya, Wataru Takagi</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {#
    <div class="row">
        <div class="large-12 columns">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
    #}
{% endblock body %}
