{% extends "SLMNWovieMainBundle::html/layout.html.twig" %}

{% block pagetitle %}WOVIE - shelf{% endblock pagetitle %}

{% block body %}
    {% set myMovies = getMyMovies() %}
    {% if myMovies|length > 0 %}
    <div class="row">
        <div class="large-12 columns">
            <div class="row collapse">
                <div class="large-12 small-12 columns">
                    <h4>Your movies <small>{{ myMovies|length }} total</small></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
                {% for movie in myMovies %}
                    {% set i = 0 %}
                    {% set series = random(0..1) %}
                    <li>
                        <div class="clearfix shelf-media-titles">
                            <h6 class="left">{{ movie.title }}</h6>
                        </div>
                        <div style="position: relative;">
                            <a href="{{ path('slmn_wovie_user_movie_details', {'id': movie.id}) }}">
                                {% image '@SLMNWovieMainBundle/Resources/assets/placeholder.jpg'
                                filter='?jpegoptim' output='images/placeholder.jpg' %}
                                    {% set placeholderImg = asset_url %}
                                {% endimage %}
                                <img class="cover" src="{{ movie.posterImage|default(placeholderImg) }}">
                            </a>
                            {% set views = viewsOfId(movie.id) %}
                            {% if movie.mediaType == 2 %}
                                <div class="cover-progress large-12">
                                        <span class="meter"
                                              style="width: {% if views > 0 %}{{ views / (movie.numberOfEpisodes / 100) }}{% else %}0{% endif %}%">
                                            <p>
                                                <b>
                                                    {% if views >= movie.numberOfEpisodes %}
                                                        <i class="fa fa-check-square"></i>
                                                    {% endif %}
                                                    {{ views }}/{{ movie.numberOfEpisodes }}
                                                </b>
                                            </p>
                                        </span>
                                </div>
                            {% else %}
                                {% if views > 0 %}
                                    <div class="cover-progress large-12">
                                        <span class="meter" style="width: 100%">
                                            <p>
                                                <b>
                                                    <i class="fa fa-check-square"></i>
                                                    {% if views > 1 %} {{ views }}{% endif %}
                                                </b>
                                            </p>
                                        </span>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="large-8 columns">
                                <ul class="button-group">
                                    <li>
                                        {% if movie.mediaType == 1 %}
                                            <button id="watched-it-button" class="button watched_it_cover" data-media-id="{{ movie.id }}">I watched it!
                                            </button>
                                        {% else %}
                                            <button
                                                    id="watched-it-button"
                                                    class="button watched_it_cover"
                                                    data-reveal-id="modal-frame-choose-episode"
                                                    onclick="$('#modal-frame-choose-episode > iframe').attr('src', '{{ path('slmn_wovie_action_frames_choose_episode', {'id': movie.id}) }}')"
                                                    >
                                                I watched an episode!
                                            </button>
                                        {% endif %}
                                    </li>
                                    <li>
                                        <a
                                                id="edit-button"
                                                href="{{ path('slmn_wovie_user_movie_edit', {'id': movie.id}) }}"
                                                class="button watched_it_cover">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="large-4 columns">
                                <a id="details-button" href="{{ path('slmn_wovie_user_movie_details', {'id': movie.id}) }}" class="right">more
                                    <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
        <div class="row">
            <div class="large-12 columns" style="margin-bottom: 0; margin-top: 10px;">
                {{ main.alertBox('Try the search above to add movies and series.', 'secondary') }}
            </div>
        </div>
    {% endif %}
    {% if getUserOption('didJoyrideShelf', false) == false and myMovies|length > 0%}
        {% include "SLMNWovieMainBundle:html/joyride:shelf.html.twig" %}
        {% set done = setUserOption('didJoyrideShelf', true) %}
    {% endif %}
{% endblock body %}
