{% extends "SLMNWovieMainBundle::html/layout.html.twig" %}

{% block pagetitle %}WOVIE - shelf{% endblock pagetitle %}

{% block body %}
    {% set myMovies = getMyMovies() %}
    {% if myMovies|length > 0 %}
        {# TODO: Filter #}
    <div class="row">
        <div class="large-12 columns">
            <div class="row collapse">
                <div class="large-6 small-12 columns">
                    <h4>Your library <small><b>{{ countMedia(null, 1) }} movies</b> and <b>{{ countMedia(null, 2) }} series</b></small></h4> {# TODO: Split up (movies/series) with new countMedia(user, type) id #}
                </div>
                <div class="large-6 small-12 columns">
                    <dl class="sub-nav filter-nav right" style="margin-top: 10px;">
                        <dt>Filter</dt>
                        <dd class="active"><a id="filter-reset">All</a></dd>
                        <dd><a id="filter-movies">Movies</a></dd>
                        <dd><a id="filter-series">Series</a></dd>
                        <dd><a id="filter-unseen">Unseen</a></dd>
                        {# TODO: Favorites #}
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4" id="media-entries">
                {% for movie in myMovies %}
                    <li class="media-entry" data-media-type="{{ movie.mediaType }}" data-views="{{ viewsOfId(movie.id) }}">
                        {{ wovie.mediaItem(movie) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
        <div class="row">
            <div class="large-12 columns" style="margin-bottom: 0; margin-top: 10px;">
                {{ main.alertBox('Try the search above to add movies and series.', 'secondary') }}
            </div>
        </div>
    {% endif %}
    {% if getUserOption('didJoyrideShelf', false) == false and myMovies|length > 0%}
        {% include "SLMNWovieMainBundle:html/joyride:shelf.html.twig" %}
        {% set done = setUserOption('didJoyrideShelf', true) %}
    {% endif %}
{% endblock body %}
