{% extends "SLMNWovieMainBundle::html/layout.html.twig" %}

{% block pagetitle %}WOVIE - shelf{% endblock pagetitle %}

{% block body %}
    {% set myMovies = getMyMovies() %}
    <div class="row">
        <div class="large-12 columns">
            <div class="row collapse">
                <div class="large-12 small-12 columns">
                    <h4>Your movies <small>{{ myMovies|length }} total</small></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul class="small-block-grid-4 medium-block-grid-5 large-block-grid-4">
                {% for movie in myMovies %}
                    {% set i = 0 %}
                    {% set series = random(0..1) %}
                    <li>
                        <div class="clearfix shelf-media-titles">
                            <h6 class="left">{{ movie.title }}</h6>
                        </div>
                        <div style="position: relative;">
                            <a href="{{ path('slmn_wovie_user_movie_details', {'id': movie.id}) }}">
                                <img class="cover" src="{{ movie.posterImage|default(coverPlaceholder) }}">
                            </a>
                            {% set views = viewsOfId(movie.id) %}
                            {% if movie.mediaType == 2 %}
                                <div class="cover-progress large-12">
                                        <span class="meter"
                                              style="width: {{ views / (movie.numberOfEpisodes / 100) }}%">
                                            <p>
                                                <b>
                                                    {{ views }}/{{ movie.numberOfEpisodes }}
                                                </b>
                                            </p>
                                        </span>
                                </div>
                            {% else %}
                                {% if views > 0 %}
                                    <div class="cover-complete">
                                        <i class="fa fa-check-square"></i>
                                        {% if views > 1 %} {{ views }}{% endif %}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                {% if movie.mediaType == 1 %}
                                    <button class="button watched_it_cover" data-media-id="{{ movie.id }}">I watched it!
                                    </button>
                                {% else %}
                                    <button
                                            class="button watched_it_cover"
                                            data-reveal-id="modal-frame-choose-episode"
                                            onclick="$('#modal-frame-choose-episode > iframe').attr('src', '{{ path('slmn_wovie_action_frames_choose_episode', {'id': movie.id}) }}')"
                                            >
                                        I watched an episode!
                                    </button>
                                {% endif %}
                            </div>
                            <div class="large-6 columns">
                                <a href="{{ path('slmn_wovie_user_movie_details', {'id': movie.id}) }}" class="right">more
                                    <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock body %}
