{% extends "SLMNWovieMainBundle::html/layout.html.twig" %}

{% block pagetitle %}WOVIE - shelf{% endblock pagetitle %}

{% block body %}
    {% set myMovies = getMyMovies() %}
    <div class="row">
        <div class="large-12 columns">
            <div class="row collapse">
                <div class="large-12 small-12 columns">
                    <h4>Your movies <small>{{ myMovies|length }} total</small></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <table>
                <tbody>
                <ul class="small-block-grid-4 medium-block-grid-5 large-block-grid-4" data-equalizer>
                    {% for movie in myMovies %}
                        {% set i = 0 %}
                        {% set series = random(0..1) %}
                        <li>
                            <div class="clearfix" data-equalizer-watch>
                                <h6 class="left">{{ movie.title }}</h6>
                            </div>
                            <div style="position: relative;">
                                <a href="{{ path('slmn_wovie_user_movie_details', {'id': movie.id}) }}">
                                    <img class="cover" src="{{ movie.posterImage|default(coverPlaceholder) }}">
                                </a>
                                {% if movie.mediaType == 2 %}
                                    <div class="cover-progress large-12">
                                        <span class="meter" style="width: {{ random(25..75) }}%">
                                            <p>
                                                <b>
                                                    {{ random(1..50) }}/{{ movie.numberOfEpisodes }}
                                                </b>
                                            </p>
                                        </span>
                                    </div>
                                {% else %}
                                    {% if random(0..1) == 1 %}
                                        <div class="cover-complete">
                                            <i class="fa fa-check-square"></i>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="large-6 columns">
                                    <button class="button watched_it" data-media-id="{{ movie.id }}">I watched it!</button>
                                </div>
                                <div class="large-6 columns">
                                    <a href="{{ path('slmn_wovie_user_movie_details', {'id': movie.id}) }}" class="right">more <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}
