{% extends "SLMNWovieMainBundle::html/layout_frame.html.twig" %}

{% block body %}
    <div class="row">
        <div class="large-9 small-9 columns">
            <h4>Which episode did you watch?</h4>
        </div>
        <div class="large-3 small-3 columns">
            <button class="button tiny secondary right" onclick="window.parent.$('#modal-frame-choose-episode').foundation('reveal', 'close');">
                <i class="fa fa-times fa-2x"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul class="inline-list">
                <li>
                    <p>
                        <span id="choose-episode-count">0</span> Selected
                    </p>
                </li>
                <li>
                    <ul class="button-group">
                        <li><button id="choose-episode-select-all" class="tiny">All</button></li>
                        <li><button id="choose-episode-select-none" class="tiny">None</button></li>
                        <li>
                            <button data-dropdown="choose-episode-select-more" class="tiny">
                                <i class="fa fa-caret-down fa-lg"></i>
                            </button><br>
                            <ul id="choose-episode-select-more" data-dropdown-content class="f-dropdown">
                                <li><a id="choose-episode-select-invert" href="#">Invert</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="button-group">
                        <li><button class="tiny" id="choose-episode-select-submit-watched" data-media-id="{{ media.id }}">Watched</button></li>
                        <li><button class="tiny alert" id="choose-episode-select-submit-notwatched" data-media-id="{{ media.id }}">
                                <i class="fa fa-minus fa-lg"></i>
                            </button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul class="no-bullet">
                {# TODO: Automatically scroll to the episode, he could watch next. #}
                {% if episodes != false %}
                    {% set curSeason = 1 %}
                    {% set curEpisodeInSeason = 1 %}
                {% endif %}
                {% for i in 1..media.numberOfEpisodes %}
                    {% set views = viewsOfId(media.id, i) %}
                    {% if episodes != false %}
                        {% if curEpisodeInSeason == 1 %}
                            <h6>Season {{ curSeason }}</h6>
                        {% endif %}
                    {% endif %}
                    <li>
                        <ul class="button-group" id="choose-episode-ul">
                            <li>
                                <label class="button tiny choose-episode-checkbox" for="checkbox-{{ i }}">
                                    <input
                                            class="choose-episode-checkbox-input"
                                            id="checkbox-{{ i }}"
                                            data-episode-id="{{ i }}" type="checkbox"
                                            >
                                </label>
                            </li>
                            <li>
                                <button class="button tiny watched_it" data-media-id="{{ media.id }}" data-episode-id="{{ i }}">
                                    {% if episodes != false %}
                                        {% set curEpisodeInSeason = curEpisodeInSeason+1 %}
                                        {{ curEpisodeInSeason-1 }} ({{ i }})
                                        {% if episodes[curSeason] is defined and episodes[curSeason][curEpisodeInSeason-1] is defined %}
                                            {{ episodes[curSeason][curEpisodeInSeason-1] }}
                                            {% if media.numberOfEpisodes > i and episodes[curSeason][curEpisodeInSeason] is not defined %}
                                                {% set curEpisodeInSeason = 1 %}
                                                {% set curSeason = curSeason+1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        {{ i }}
                                    {% endif %}
                                </button>
                            </li>
                            {% if views > 0 %}
                            <li>
                                <button class="button tiny alert watched_it_not" data-media-id="{{ media.id }}" data-episode-id="{{ i }}">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </li>
                            <li>
                                <button class="button tiny disabled">
                                    <i class="fa fa-check-square"></i> {% if views > 1 %} {{ views }}{% endif %}
                                </button>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock body %}
