{% extends "SLMNWovieMainBundle::html/layout.html.twig" %}

{% block pagetitle %}WOVIE - {{ media.title }}{% endblock pagetitle %}

{% block body %}
    <div class="row panel" style="margin-top: 15px; padding: 10px;">
        <ul class="breadcrumbs profile-breadcrumbs">
            <li>
                <a href="{{ path('slmn_wovie_public_profile', { 'username': user.username }) }}">
                    {{ user.username }}s profile
                </a>
            </li>
            <li class="current">
                <a href="{{ path('slmn_wovie_public_media_details', { 'id': media.id }) }}">
                    {{ media.title }}
                </a>
            </li>
        </ul>
        <div class="large-12 columns">
            {{ wovie.mediaDetails(media, true) }}
        </div>
    </div>
{% endblock body %}