{% extends "SLMNWovieMainBundle::html/layout_nonav.html.twig" %}

{% block pagetitle %}WOVIE - Password forgotten?{% endblock pagetitle %}

{% block body %}
    <div class="row">
        <div class="large-6 large-centered columns">
            <div class="panel" style="margin-top: 50px;">
                <h1>Password forgotten?</h1>
                <h4>Try the following form.</h4>
                {{ form_start(newPendingPasswordChange) }}
                {{ form_errors(newPendingPasswordChange) }}
                {{ form_row(newPendingPasswordChange.email) }}
                {{ form_row(newPendingPasswordChange.Submit) }}
                {{ form_end(newPendingPasswordChange) }}
            </div>
        </div>
    </div>
{% endblock body %}
