{% extends "SLMNWovieMainBundle::html/layout_nonav.html.twig" %}

{% block pagetitle %}WOVIE - {{ user.username }}{% endblock pagetitle %}

{% block favicon %}
    <link rel="icon" href="{{ getGravatarUrl(user, 32) }}" type="image/jpeg">
{% endblock %}

{% block body %}
    <div class="row panel" style="margin-top: 15px;">
        {% set profile = getProfile(user) %}
        <div class="large-3 columns">
            <img class="avatar" src="{{ getGravatarUrl(user) }}">
        </div>
        <div class="large-9 columns">
            <div class="row">
                <div class="large-12 columns">
                    <h4>{{ user.username }}</h4>
                </div>
            </div>
            {% if profile is not null and profile.getBio() %}
            <div class="row">
                <div class="large-12 columns">
                    <p>{{ profile.getBio()|autolink|nl2br }}</p>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="large-12 columns">
                    <p>I have <b>{{ countMedia(user, 1) }} movies</b> and <b>{{ countMedia(user, 2) }} series</b> in my library.</p>
                    {# TODO: Last i watched blablabla #}
                </div>
            </div>
        </div>
    </div>
    {% if media|length > 0 %}
        <div class="row panel">
            <div class="large-12 columns">
                <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
                    {% for item in media %}
                        <li>
                            <div>
                                {{ wovie.mediaItemPublic(item) }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        {# TODO: No videos #}
    {% endif %}
{% endblock body %}
