{% extends "SLMNWovieMainBundle::html/layout.html.twig" %}

{% block pagetitle %}WOVIE - {{ user.username }}{% endblock pagetitle %}

{% block favicon %}
    <link rel="icon" href="{{ getGravatarUrl(user, 32) }}&t={{ 'now'|date('U') }}" type="image/jpeg">
{% endblock %}

{% block body %}
    <div class="row panel" style="margin-top: 15px;">
        {% set profile = getProfile(user) %}
        {% set followers = getFollowers(user) %}
        {% set followings = getFollowings(user) %}
        <div class="large-3 small-12 columns">
            <div class="row collapse text-center">
                <img class="avatar" src="{{ getGravatarUrl(user) }}">
            </div>
            {% if is_granted('ROLE_USER') and user != app.security.getToken().getUser() %}
                {% if isFollowing(user) %}
                    <div class="row collapse text-center">
                        <button
                                autocomplete="off"
                                class="small radius alert expand defollow-button"
                                data-user-id="{{ user.id }}">
                            Unfollow
                        </button>
                    </div>
                {% else %}
                    <div class="row collapse text-center">
                        <button
                                autocomplete="off"
                                class="small radius expand follow-button"
                                data-user-id="{{ user.id }}">
                            Follow
                        </button>
                    </div>
                {% endif %}
                {% if isFollowing(app.security.getToken().getUser(), user) %}
                    <div class="row collapse small-text-center">
                        <span class="label secondary">{{ user.username }} is following you.</span>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="large-5 small-12 columns">
            <div class="row">
                <div class="large-12 columns">
                    <h4>{{ user.username }}</h4>
                </div>
            </div>
            {% if profile is not null and profile.getBio() %}
            <div class="row">
                <div class="large-12 columns">
                    <p>{{ profile.getBio()|autolink|nl2br }}</p>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="large-12 columns">
                    <p>I have <b>{{ countMedia(user, 1) }} movies</b> and <b>{{ countMedia(user, 2) }} series</b> in my library.</p>
                    {# TODO: Last i watched blablabla #}
                </div>
            </div>
        </div>
        <di class="large-4 small-12 columns">
            <div class="small-12 large-6 columns">
                <div class="row collapse">
                    <a
                            href="{{ path('slmn_wovie_public_profile_followers', { 'username': user.username }) }}"
                            class="meta-header-small">
                        {{ followers|length }} Followers
                    </a>
                </div>
                <div class="row collapse">
                    <ul class="small-block-grid-9 large-block-grid-3">
                        {% for follower in followers %}
                            {% if loop.index <= 9 %}
                                <li class="follow-avatar">
                                    <a href="{{ path('slmn_wovie_public_profile', { 'username': follower.user.username }) }}">
                                        <img src="{{ getGravatarUrl(follower.user, 25) }}">
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="small-12 large-6 columns">
                <div class="row collapse">
                    <a
                            href="{{ path('slmn_wovie_public_profile_followings', { 'username': user.username }) }}"
                            class="meta-header-small">
                        {{ followings|length }} Follows
                    </a>
                </div>
                <div class="row collapse">
                    <ul class="small-block-grid-9 large-block-grid-3">
                        {% for follower in followings %}
                            {% if loop.index <= 9 %}
                                <li class="follow-avatar">
                                    <a href="{{ path('slmn_wovie_public_profile', { 'username': follower.follow.username }) }}">
                                        <img src="{{ getGravatarUrl(follower.follow, 25) }}">
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </di>
    </div>
    {% if media|length > 0 %}
        <div class="row panel">
            <div class="large-12 columns">
                <dl class="sub-nav filter-nav right" style="margin-top: 10px;">
                    <dt>Filter</dt>
                    <dd class="active"><a id="filter-reset">All</a></dd>
                    <dd><a id="filter-movies">Movies</a></dd>
                    <dd><a id="filter-series">Series</a></dd>
                    <dd><a id="filter-in-progress">In progress</a></dd>
                    <dd><a id="filter-unseen">Unseen</a></dd>
                    <dd><a id="filter-favorite">Favorites</a></dd>
                </dl>
            </div>
            <div class="large-12 columns">
                <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4" id="media-entries">
                    {% for item in media %}
                        <li
                                class="media-entry"
                                data-media-type="{{ item.mediaType }}"
                                data-views="{{ viewsOfId(item.id) }}"
                                {% if item.mediaType == 2 %}
                                data-numberofepisodes="{{ item.numberOfEpisodes }}"
                                {% endif %}
                                data-favorite="{{ item.favorite }}"
                                >
                            {{ wovie.mediaItemPublic(item) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        {# TODO: No videos #}
    {% endif %}
{% endblock body %}
