{% extends "SLMNWovieMainBundle::html/layout.html.twig" %}

{% block pagetitle %}WOVIE - Password forgotten?{% endblock pagetitle %}

{% block body %}
    <div class="row">
        <div class="large-12 columns">
            <h1>New password</h1>
            <h4>Set your new password here.</h4>
        </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
            {{ form_start(pendingUserForm) }}
            {{ form_errors(pendingUserForm) }}
            {{ form_row(pendingUserForm.password) }}
            {{ form_row(pendingUserForm.Submit) }}
            {{ form_end(pendingUserForm) }}
        </div>
    </div>
{% endblock body %}
