{% extends "SLMNWovieMainBundle::html/layout_nonav.html.twig" %}

{% block pagetitle %}WOVIE - Password forgotten?{% endblock pagetitle %}

{% block body %}
    <div class="row">
        <div class="large-6 large-centered columns">
            <div class="panel animated fadeInDown" style="margin-top: 50px;">
                <h1>New password</h1>
                <h4>Set your new password here.</h4>
                {{ form_start(pendingUserForm) }}
                {{ form_errors(pendingUserForm) }}
                {{ form_row(pendingUserForm.password) }}
                {{ form_row(pendingUserForm.Submit) }}
                {{ form_end(pendingUserForm) }}
            </div>
        </div>
    </div>
{% endblock body %}

