{% extends "SLMNWovieMainBundle::html/layout.html.twig" %}

{% block pagetitle %}WOVIE - admin - broadcasts{% endblock pagetitle %}

{% block body %}
    {% include 'SLMNWovieMainBundle:html/user/admin:modals.html.twig' %}
    <div class="row">
        <div class="large-2 columns">
            {% include 'SLMNWovieMainBundle:html/user/admin:menu.html.twig' %}
        </div>
        <div class="large-10 columns">
            <div class="row">
                <div class="small-12 columns">
                <h4>Broadcasts <small>{{ broadcasts|length }} total</small></h4>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    {% if broadcasts|length > 0 %}
                    <table>
                        <thead>
                            <tr>
                                <th>Message</th>
                                <th width="50">Icon</th>
                                <th width="64">Public</th>
                                <th width="87">Closeable</th>
                                <th width="75">Enabled</th>
                                <th width="70"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for broadcast in broadcasts %}
                                <tr>
                                    <td>{{ broadcast.message|raw }}</td>
                                    <td><i class="fa fa-{{ broadcast.icon }}"></i></td>
                                    <td style="
                                    color: {% if broadcast.public == 1 %}green{% else %}red{% endif %};
                                    ">
                                        {% if broadcast.public == 1 %}yes{% else %}no{% endif %}
                                    </td>
                                    <td>
                                        <span
                                        style="
                                        color: {% if broadcast.closeable == 1 %}green{% else %}red{% endif %};
                                        ">
                                            {% if broadcast.closeable == 1 %}yes{% else %}no{% endif %}
                                        </span>
                                        {% if broadcast.closeable == 1 %}
                                            <span
                                            data-tooltip
                                            aria-haspopup="true"
                                            class="has-tip"
                                            title="Marked as seen by users"
                                            >
                                                ({{ broadcastsTotalSeenBy[broadcast.id] }})
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td style="
                                    color: {% if broadcast.enabled == 1 %}green{% else %}red{% endif %};
                                    ">
                                        {% if broadcast.enabled == 1 %}yes{% else %}no{% endif %}
                                    </td>
                                    <td>
                                        <a
                                        href="{{ path('slmn_wovie_admin_broadcasts_edit', {'broadcastId': broadcast.id}) }}"
                                        class="button tiny"
                                        style="margin-bottom: 0;"
                                        ><i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        {{ main.alertBox('No broadcasts yet', '', 0) }}
                    {% endif %}
                </div>
            </div>
            {{ form_start(newBroadcastForm) }}
            <div class="row">
                <div class="small-12 columns">
                    {{ form_errors(newBroadcastForm) }}
                </div>
            </div>
            <div class="row">
                <div class="large-5 small-12 columns">
                    {{ form_row(newBroadcastForm.message) }}
                </div>
                <div class="large-2 small-12 columns">
                    {{ form_label(newBroadcastForm.icon) }}
                    <div class="row collapse">
                        <div class="small-1 large-3 columns">
                            <span class="prefix">fa-</span>
                        </div>
                        <div class="small-11 large-9 columns">
                            {{ form_widget(newBroadcastForm.icon) }}
                        </div>
                    </div>
                </div>
                <div class="large-1 small-3 columns">
                    <label for="broadcast_public">Public</label>
                    <div class="switch">
                        {{ form_widget(newBroadcastForm.public) }}
                        <label for="broadcast_public"></label>
                    </div>
                </div>
                <div class="large-1 small-3 columns">
                    <label for="broadcast_closeable">Closeable</label>
                    <div class="switch">
                        {{ form_widget(newBroadcastForm.closeable) }}
                        <label for="broadcast_closeable"></label>
                    </div>
                </div>
                <div class="large-1 small-3 columns">
                    <label for="broadcast_enabled">Enabled</label>
                    <div class="switch">
                        {{ form_widget(newBroadcastForm.enabled) }}
                        <label for="broadcast_enabled"></label>
                    </div>
                </div>
                <div class="large-2 small-3 columns">
                    {{ form_row(
                    newBroadcastForm.submit,
                    {'label': 'Add', 'attr': {'class': 'tiny', 'style': 'margin-top: 20px;'}}
                    ) }}
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    {{ form_end(newBroadcastForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
