{% if media == false %}
    <div data-alert="" class="alert-box warning radius">
        No results found
    </div>
{% else %}
    {# TODO: Suggest type mistakes (via search api) #}
    {% for item in media %}
        {# dump(item)|raw #}
        <ul class="inline-list">
            <li style="width: 8%;">
                <a href="{{ path('slmn_wovie_user_movie_add', { 'prefill': item.mid }) }}">
                    <img class="small-cover lazy" data-original="{{ url('slmn_wovie_image_coverImage', { freebaseId: item.mid }) }}">
                    <noscript>
                        <img class="small-cover" src="{{ url('slmn_wovie_image_coverImage', { freebaseId: item.mid }) }}">
                    </noscript>
                    <div class="image-label">
                            <i class="fa fa-plus"></i> Add
                    </div>
                </a>
            </li>
            <li style="width: 87%;">
                <div class="row">
                    <ul class="result-inline-list">
                        <li>
                            <h5>{{ item.name }}
                                {% if item.written_by is defined and item.written_by|length >= 1 %}
                                    <small>written by
                                    {% for writer in item.written_by %}
                                        <a
                                                href="{{ path('slmn_wovie_user_search', { 'q':'writer:' ~ writer|trim }) }}"
                                                >
                                            {{ writer }}
                                        </a>
                                        {% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                    </small>
                                {% endif %}
                            </h5>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <ul class="result-inline-list only-labels" style="margin-bottom: 0px;">
                        {% if item.imdbRating is defined %}
                            <li class="big-label-inlist">
                                <span
                                        data-tooltip
                                        title="imdb user rating"
                                        class="
                                        has-tip
                                        label
                                        {% if item.imdbRating <= 3.7 %}
                                            alert
                                        {% elseif item.imdbRating <= 6.7 %}
                                            middle
                                        {% else %}
                                            success
                                        {% endif %}
                                        "media
                                        >
                                    {{ item.imdbRating }}
                                </span>
                            </li>
                        {% endif %}

                        {% if item.type is defined %}
                            <li class="big-label-inlist">
                                <span class="label secondary">{{ item.type }}</span>
                            </li>
                        {% endif %}

                        {% if item.countries is defined and item.countries|length >= 1 %}
                            <li class="big-label-inlist">
                                <span class="label secondary">
                                    {% for country in item.countries %}
                                        {{ country }}
                                        {% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </span>
                            </li>
                        {% endif %}
                        {% if item.release_date is defined %}
                            <li class="big-label-inlist">
                                <span class="label secondary">
                                    {{  item.release_date }}
                                    {% if item.final_episode is defined %}
                                        - {{ item.final_episode }}
                                    {% endif %}
                                </span>
                            </li>
                        {% endif %}
                        {% if item.runtime is defined %}
                            <li class="big-label-inlist">
                                <span class="label secondary">
                                    <i class="fa fa-clock-o"></i> {{ item.runtime }} min
                                </span>
                            </li>
                        {% endif %}
                        {% if item.imdbId is defined %}
                        <li class="big-label-inlist">
                                <span class="label secondary">
                                    <a href="http://www.imdb.com/title/{{ item.imdbId }}" target="_blank">
                                        <i class="fa fa-external-link"></i> imdb
                                    </a>
                                </span>
                        </li>
                        {% endif %}
                        <li class="big-label-inlist">
                            <span class="label secondary">
                                <a
                                    {% if getUserOption('language', 'en') == 'de' %}
                                        href="http://www.amazon.de/s/?url=search-alias%3Ddvd&field-keywords={{ item.name|escape }}{% if amazonAffiliateDe != null %}&tag={{ amazonAffiliateDe }}{% endif %}"
                                    {% else %}
                                        href="http://www.amazon.com/gp/search?index=dvd&keywords={{ item.name|escape }}{% if amazonAffiliateUs != null %}&tag={{ amazonAffiliateUs }}{% endif %}"
                                    {% endif %}
                                        >
                                    <i class="fa fa-external-link"></i> amazon
                                </a>
                            </span>
                        </li>
                        {# TODO: Amazon buy link? #}
                    </ul>
                </div>
                <div class="row ajax-fetchTopic" data-id="{{ item.mid }}">
                    <p class="result-plot"><i class="fa fa-spinner fa-spin fa-lg"></i></p>
                </div>
                {# {% if item.description is defined %}
                    <div class="row">
                        <p class="result-plot">{{ item.description }}</p>
                    </div>
                {% else %}
                    <div class="row" style="margin-top: 5px;"></div>
                {% endif %} #}
                {% if item.genres is defined %}
                    <div class="row">
                        <ul class="result-inline-list only-labels">
                            {% for genre in item.genres %}
                                <li class="big-label-inlist">
                                        <span class="label secondary">
                                            <a href="{{ path('slmn_wovie_user_search', { 'q':'genre:' ~ genre|trim }) }}">
                                                <i class="fa fa-tag"></i> {{ genre|trim }}
                                            </a>
                                        </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {#
                <div class="row">
                    <ul class="result-inline-list only-labels">
                        {% for actor in item.Actors|split(',') %}
                            <li class="big-label-inlist">
                                    <span class="label secondary">
                                        <a href="{{ path('slmn_wovie_user_search', { 'q':'actor:' ~ actor|trim }) }}">
                                            <i class="fa fa-user"></i> {{ actor|trim }}
                                        </a>
                                    </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>#}
            </li>
        </ul>
    {% endfor %}
{% endif %}